@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PostNoBillsJaffna";
  font-display: swap;
  src: url("../fonts/PostNoBillsJaffna-Bold.woff2") format("woff2"), url("../fonts/PostNoBillsJaffna-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-enter:before {
  content: "\e900";
}

._icon-phone:before {
  content: "\e901";
}

._icon-search:before {
  content: "\e902";
}

._icon-shop:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "PT Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "PT Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.icon-menu {
  display: none;
}

.top-level {
  padding-bottom: 0.875rem;
  background: #000;
  padding-top: 0.875rem;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.top-level__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-level__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.top-level__tel {
  padding-right: 0.625rem;
  z-index: 2;
}

.top-level__tel:hover {
  color: #fff;
}

.top-level__days {
  position: relative;
  padding-right: 0.0625rem;
  z-index: 2;
}

.top-level__days::before,
.top-level__days::after {
  content: "";
  border-left: 1px solid #969696;
  display: block;
  height: 100%;
}

.top-level__days::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.9375rem;
}

.top-level__days::after {
  content: "";
  position: absolute;
  top: 0;
  right: -0.9375rem;
}

.top-level__time {
  padding-left: 0.625rem;
  z-index: 2;
}

.top-level__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;
}

.top-level__login {
  z-index: 2;
}

.top-level__login:hover {
  color: #fff;
}

._icon-phone {
  font-size: 0.875rem;
  z-index: 2;
}

._icon-enter {
  font-size: 0.875rem;
  z-index: 2;
}

._icon-shop {
  font-size: 1.25rem;
}

._icon-search {
  font-size: 1.125rem;
}

.down-level {
  padding-top: 0.9375rem;
  padding-bottom: 1rem;
  background: #0F0F0F;
}

.down-level__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.down-level__logo {
  font-family: "PostNoBillsJaffna";
  font-size: 36px;
  line-height: 54px;
  z-index: 2;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.5rem;
  padding-right: 3.875rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  color: #969696;
}

@supports (gap: clamp(0.0000000625rem, -8.3333330625rem + 13.333333vw, 2.5rem)) {
  .menu__list {
    gap: clamp(0.0000000625rem, -8.3333330625rem + 13.333333vw, 2.5rem);
  }
}

@supports not (gap: clamp(0.0000000625rem, -8.3333330625rem + 13.333333vw, 2.5rem)) {
  .menu__list {
    gap: calc(0.0000000625rem + 2.4999999375 * (100vw - 62.5rem) / 18.75);
  }
}

@supports (padding-right: clamp(0.9375rem, -8.8541666667rem + 15.6666666667vw, 3.875rem)) {
  .menu__list {
    padding-right: clamp(0.9375rem, -8.8541666667rem + 15.6666666667vw, 3.875rem);
  }
}

@supports not (padding-right: clamp(0.9375rem, -8.8541666667rem + 15.6666666667vw, 3.875rem)) {
  .menu__list {
    padding-right: calc(0.9375rem + 2.9375 * (100vw - 62.5rem) / 18.75);
  }
}

.menu__link {
  padding: 2.0625rem 1.25rem;
}

.menu__link:hover {
  background: #1F1F1F;
  color: #fff;
}

.menu__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8125rem;
}

@supports (gap: clamp(0.9375rem, -8.4375rem + 15vw, 2.8125rem)) {
  .menu__picture {
    gap: clamp(0.9375rem, -8.4375rem + 15vw, 2.8125rem);
  }
}

@supports not (gap: clamp(0.9375rem, -8.4375rem + 15vw, 2.8125rem)) {
  .menu__picture {
    gap: calc(0.9375rem + 1.875 * (100vw - 62.5rem) / 12.5);
  }
}

.menu__serch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.menu__input {
  font-family: "PT Sans";
  display: none;
  padding-left: 0.9375rem;
  height: 1.25rem;
}

.active {
  display: block;
}

.footer__level-up {
  padding-top: 5rem;
  padding-bottom: 3.125rem;
  background: url("../img/6. Footer/bg.jpg") 0 0/cover no-repeat;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.footer__item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
}

.footer__title {
  font-family: "Playfair Display";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-bottom: 2.5rem;
}

.footer__text {
  line-height: 150%;
  padding-bottom: 2.3125rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__link {
  background: #0F0F0F;
  padding: 0.625rem 1.25rem;
  line-height: 150%;
  color: #D0D0D0;
}

.footer__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}

.footer__button {
  background: #0F0F0F;
  padding: 0.625rem 1.25rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  -webkit-transform: translate(-0.25rem);
  -ms-transform: translate(-0.25rem);
  transform: translate(-0.25rem);
}

.footer__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
  background: #fff;
}

.footer__input {
  width: 13.125rem;
  padding: 0.6875rem 0rem 0.6875rem 0.625rem;
  background: rgba(255, 255, 255, 0.4);
  color: #D0D0D0;
}

.level-down__text {
  padding: 1.0625rem 0rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #D0D0D0;
  text-align: center;
}

.porten {
  background: url("../img/2. Porten/Porten.jpg") 50% 0/cover no-repeat;
  padding-top: 11.25rem;
  padding-bottom: 9.625rem;
}

.porten__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5rem;
}

.porten__body {
  border: 0.3125rem solid #fff;
  display: inline-block;
  padding: 4.6875rem 2.5rem;
}

.porten__title {
  font-family: "PostNoBillsJaffna";
  font-weight: 700;
  font-size: 64px;
  line-height: 4.375rem;
  text-transform: uppercase;
}

.porten__title::after {
  content: "";
  width: 11.5625rem;
  border-bottom: 0.1875rem solid #fff;
  display: block;
  -webkit-animation: title 1s;
  animation: title 1s;
}

.porten__subtitle {
  font-size: 1.375rem;
  line-height: 2.1875rem;
  text-transform: uppercase;
}

.porten__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}

.collection__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% 45%;
  grid-template-columns: 55% 45%;
}

.season {
  padding-top: 5.8125rem;
  padding-bottom: 6.25rem;
}

.season__tittle {
  font-family: "Playfair Display";
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  padding-bottom: 3.125rem;
  text-align: center;
}

.season__tittle::after {
  content: "";
  border-bottom: 0.0625rem solid #fff;
  width: 7.5rem;
  display: block;
  padding-top: 3.125rem;
  position: relative;
  left: 42%;
}

.season__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0rem 1.875rem 0rem 1.875rem;
}

@supports (gap: clamp(1.25rem, 0.5182926829rem + 3.6585365854vw, 3.125rem)) {
  .season__items {
    gap: clamp(1.25rem, 0.5182926829rem + 3.6585365854vw, 3.125rem);
  }
}

@supports not (gap: clamp(1.25rem, 0.5182926829rem + 3.6585365854vw, 3.125rem)) {
  .season__items {
    gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 51.25);
  }
}

.season__box {
  padding: 55px 22px;
  background: #191B1C;
  max-width: 16.25rem;
  max-height: 20.3125rem;
  margin-bottom: 1.5625rem;
}

.season__box:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.season__image {
  max-width: 100%;
}

.season__text {
  font-family: "Playfair Display";
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding-bottom: 0.625rem;
  text-align: center;
}

@supports (font-size: clamp(0.875rem, 0.7774390244rem + 0.487804878vw, 1.125rem)) {
  .season__text {
    font-size: clamp(0.875rem, 0.7774390244rem + 0.487804878vw, 1.125rem);
  }
}

@supports not (font-size: clamp(0.875rem, 0.7774390244rem + 0.487804878vw, 1.125rem)) {
  .season__text {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 51.25);
  }
}

.season__price {
  font-family: "Playfair Display";
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #D0D0D0;
  text-align: center;
}

.new-collection {
  background: url("../img/3. Collection/bg.jpg") 0 0/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30.25rem;
  padding-bottom: 6.25rem;
}

.new-collection__title {
  font-family: "Playfair Display";
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  padding-bottom: 1.25rem;
  text-align: center;
}

@supports (font-size: clamp(1.75rem, 1.5548780488rem + 0.9756097561vw, 2.25rem)) {
  .new-collection__title {
    font-size: clamp(1.75rem, 1.5548780488rem + 0.9756097561vw, 2.25rem);
  }
}

@supports not (font-size: clamp(1.75rem, 1.5548780488rem + 0.9756097561vw, 2.25rem)) {
  .new-collection__title {
    font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 51.25);
  }
}

.new-collection__title::after {
  content: "";
  border-bottom: 0.0625rem solid #fff;
  width: 7.5rem;
  display: block;
  padding-top: 1.875rem;
  position: relative;
  left: 32%;
}

.new-collection__button {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border: 0.0625rem solid #fff;
}

.new-collection__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  border: #000;
  color: #000;
}

.old-collection__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
  grid-template-columns: 45% 55%;
}

.old-collection__image {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.old-collection__catalog {
  padding: 6.25rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.old-collection__title {
  font-family: "Playfair Display";
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  padding-bottom: 3.125rem;
  text-align: center;
}

.old-collection__title::after {
  content: "";
  border-bottom: 0.0625rem solid #fff;
  width: 7.5rem;
  display: block;
  padding-top: 3.125rem;
  position: relative;
  left: 30%;
}

.old-collection__text {
  font-size: 14px;
  line-height: 150%;
  max-width: 29.4375rem;
  text-align: center;
  padding-bottom: 3.125rem;
  margin: 0rem 0.9375rem;
}

.old-collection__button {
  font-size: 1.125rem;
  line-height: 1.4375rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border: 0.0625rem solid #fff;
}

.old-collection__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #fff;
  border: #000;
  color: #000;
}

.season__tittle_new {
  font-family: "Playfair Display";
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  padding-bottom: 3.125rem;
  text-align: center;
}

.season__tittle_new::after {
  content: "";
  border-bottom: 0.0625rem solid #fff;
  width: 7.5rem;
  display: block;
  padding-top: 3.125rem;
  position: relative;
  left: 42%;
}

.our-brands {
  padding-top: 3.75rem;
  background: #0F0F0F;
  padding-bottom: 5rem;
}

.our-brands__title {
  font-family: "Playfair Display";
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase;
  padding-bottom: 3.125rem;
  text-align: center;
}

.our-brands__title::after {
  content: "";
  border-bottom: 0.0625rem solid #fff;
  width: 7.5rem;
  display: block;
  padding-top: 3.125rem;
  position: relative;
  left: 45%;
}

.our-brands__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._watcher-view.porten__body {
  -webkit-animation: body 1s;
  animation: body 1s;
}

@-webkit-keyframes body {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes body {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

._watcher-view.porten__title {
  -webkit-animation: title 1.5s;
  animation: title 1.5s;
}

@-webkit-keyframes title {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes title {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

._watcher-view.porten__subtitle {
  -webkit-animation: subtitle 1.5s;
  animation: subtitle 1.5s;
}

@-webkit-keyframes subtitle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes subtitle {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

._watcher-view.porten__text {
  -webkit-animation: text 1s;
  animation: text 1s;
}

@-webkit-keyframes text {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

._watcher-view.new-collection {
  -webkit-animation: new-collection 2.5s;
  animation: new-collection 2.5s;
}

@-webkit-keyframes new-collection {
  0% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  100% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
  }
}

@keyframes new-collection {
  0% {
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  100% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
  }
}

._watcher-view.old-collection__picture {
  -webkit-animation: old-collection 2.5s;
  animation: old-collection 2.5s;
}

@-webkit-keyframes old-collection {
  0% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  100% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
  }
}

@keyframes old-collection {
  0% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }

  100% {
    -webkit-transform: translate(0%);
    transform: translate(0%);
  }
}

.new-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 1.4375rem;
  -moz-column-gap: 1.4375rem;
  column-gap: 1.4375rem;
  row-gap: 2.5rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 35em) {
  .top-level__days {
    display: none;
  }

  .top-level__time {
    display: none;
  }
}

@media (max-width: 73.125em) {
  .footer__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 12.5rem;
    -moz-column-gap: 12.5rem;
    column-gap: 12.5rem;
  }
}

@media (max-width: 62.4375em) {
  .collection__body {
    gap: 1.875rem;
  }

  .collection__season {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .collection__new-collection {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .season__items {
    margin: 0rem 1.25rem;
    padding: 0rem 1.875rem 0rem 0rem;
  }

  .old-collection__picture {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }

  .old-collection__catalog {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  @-webkit-keyframes new-collection {
    0% {
      -webkit-transform: translate(0%);
      transform: translate(0%);
    }

    100% {
      -webkit-transform: translate(0%);
      transform: translate(0%);
    }
  }

  @keyframes new-collection {
    0% {
      -webkit-transform: translate(0%);
      transform: translate(0%);
    }

    100% {
      -webkit-transform: translate(0%);
      transform: translate(0%);
    }
  }
}

@media (max-width: 62.5em) {
  .our-brands__title::after {
    display: none;
  }
}

@media (max-width: 51.25em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  ._icon-shop {
    font-size: 3.75rem;
  }

  ._icon-search {
    font-size: 3.125rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #0F0F0F;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    padding-top: 11.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.75rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    height: 8.125rem;
    width: 100%;
    background: #000;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 5rem;
    font-size: 1.875rem;
  }

  .menu__link {
    padding: 1.875rem 0.625rem 1.875rem 0.625rem;
  }

  .menu__picture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 3.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu__serch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu__input {
    height: 1.875rem;
    width: 18.75rem;
  }
}

@media (max-width: 47.99875em) {
  .season__tittle::after {
    display: none;
  }

  .new-collection__title::after {
    display: none;
  }

  .season__tittle_new::after {
    display: none;
  }

  .new-items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 29.99875em) {
  .season__tittle {
    margin: 0rem 1.875rem 0rem 0rem;
  }

  .season__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.875rem;
  }

  .new-collection__title {
    margin: 0rem 1.875rem 0rem 0rem;
  }

  .new-collection__button {
    margin: 0rem 1.875rem 0rem 0rem;
  }

  .season__tittle_new {
    margin: 0rem;
  }
}