@import url(https://fonts.googleapis.com/css?family=Glory:500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #070707;
  line-height: 1;
  font-family: "Glory";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Glory";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 59rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  padding-top: 2.0625rem;
}

.header__container::after {
  content: "";
  border-bottom: 0.0625rem solid #828282;
  width: 100%;
  display: block;
  padding-top: 2.0625rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.menu__link {
  font-weight: 700;
  line-height: 1.375rem;
  color: #828282;
}

.menu__link:hover {
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer {
  padding-top: 7.125rem;
  padding-bottom: 7.6875rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  padding-bottom: 1.25rem;
}

.footer__text {
  line-height: 1.375rem;
  text-align: center;
  padding-bottom: 2.5rem;
}

.footer__text_small {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  text-align: center;
  color: #828282;
}

.footer__button {
  color: #fff;
  background: #000;
  padding: 0.75rem 2.5rem 0.75rem 2.5rem;
  border-radius: 3.125rem;
}

@supports (padding-left: clamp( 2.5rem , 15rem  +  -40vw , 5.625rem )) {
  .footer__button {
    padding-left: clamp( 2.5rem , 15rem  +  -40vw , 5.625rem );
  }
}

@supports not (padding-left: clamp( 2.5rem , 15rem  +  -40vw , 5.625rem )) {
  .footer__button {
    padding-left: calc(5.625rem + -3.125 * (100vw - 23.4375rem) / 7.8125);
  }
}

@supports (padding-right: clamp( 2.5rem , 15rem  +  -40vw , 5.625rem )) {
  .footer__button {
    padding-right: clamp( 2.5rem , 15rem  +  -40vw , 5.625rem );
  }
}

@supports not (padding-right: clamp( 2.5rem , 15rem  +  -40vw , 5.625rem )) {
  .footer__button {
    padding-right: calc(5.625rem + -3.125 * (100vw - 23.4375rem) / 7.8125);
  }
}

.footer__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #000;
  background: #828282;
}

.footer__links {
  padding-top: 5.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.8125rem;
  padding-bottom: 2.875rem;
}

@supports (gap: clamp( 2.5625rem , -2.4375rem  +  25vw , 3.8125rem )) {
  .footer__links {
    gap: clamp( 2.5625rem , -2.4375rem  +  25vw , 3.8125rem );
  }
}

@supports not (gap: clamp( 2.5625rem , -2.4375rem  +  25vw , 3.8125rem )) {
  .footer__links {
    gap: calc(2.5625rem + 1.25 * (100vw - 20rem) / 5);
  }
}

.denis-novik {
  padding-top: 2.5rem;
  padding-bottom: 6.5rem;
}

.denis-novik__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.875rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.denis-novik__title {
  font-weight: 700;
  font-size: 2.9587rem;
  line-height: 3.6875rem;
  width: 8.125rem;
}

.denis-novik__text {
  line-height: 1.375rem;
  max-width: 8.5rem;
}

.denis-novik__lenguage {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.denis-novik__eng {
  color: #000;
}

.denis-novik__image {
  max-width: 100%;
}

.denis-novik__img {
  max-width: 100%;
  display: none;
}

.about-me {
  background: #F6F6F6;
  padding-top: 7.5rem;
  padding-bottom: 6.6875rem;
}

.about-me__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me__title {
  padding-bottom: 1.0625rem;
}

.about-me__text {
  line-height: 1.375rem;
  text-align: center;
  max-width: 25rem;
}

.about-me__text:not(:last-child) {
  padding-bottom: 1.375rem;
}

.title {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 2.625rem;
  text-align: center;
}

.skills {
  padding-top: 5.6875rem;
  padding-bottom: 6.875rem;
}

.skills__title {
  padding-bottom: 4.3125rem;
}

.skills__text {
  line-height: 1.375rem;
  text-align: center;
  padding-bottom: 5.1875rem;
}

.items-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-skill__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items-skill__picture {
  max-width: 5.0625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5.0625rem;
          flex: 0 1 5.0625rem;
  padding-bottom: 1.5rem;
}

.items-skill__image {
  max-width: 100%;
}

.items-skill__text {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 700;
  max-width: 5.625rem;
  text-align: center;
  color: #828282;
  padding-bottom: 2.5625rem;
}

.portfolio {
  padding-top: 7.0625rem;
  background: #F6F6F6;
  padding-bottom: 6rem;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__title {
  padding-bottom: 2.9375rem;
}

.portfolio__image {
  max-width: 100%;
  padding: 0rem 0.9375rem 2.8125rem 0.9375rem;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.portfolio__link {
  padding-bottom: 6.25rem;
}

.portfolio__link::after {
  content: "";
  border-bottom: 0.0625rem solid #000;
  width: 100%;
  display: block;
}

.portfolio__link:hover {
  color: #828282;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._watcher-view.portfolio__image {
  -webkit-animation: portfolio-image 0.8s ease 0.2s 1 normal forwards;
          animation: portfolio-image 0.8s ease 0.2s 1 normal forwards;
}

@-webkit-keyframes portfolio-image {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes portfolio-image {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 47.99875em) {
  .items-skill {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 29.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header {
    padding-top: 4.6875rem;
  }

  .header__container::after {
    display: none;
  }

  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 4.125rem;
    padding-left: 1.625rem;
    position: relative;
  }

  .menu__link {
    font-size: 2.125rem;
    line-height: 2.625rem;
  }

  .denis-novik {
    padding-top: 0rem;
    position: relative;
    top: -1.875rem;
  }

  .denis-novik__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 1.4375rem;
  }

  .denis-novik__lenguage {
    font-size: 2.125rem;
    line-height: 2.625rem;
    position: absolute;
    bottom: 12.5rem;
    right: 1.75rem;
  }

  .denis-novik__image {
    display: none;
  }

  .denis-novik__img {
    display: block;
    margin: 0 auto;
  }
}