//====================================================================================================

//====================================================================================================

.footer {
   padding-top: 163px;
   font-size: 14px;
   line-height: 22px;
   letter-spacing: 0.15px;

   // .footer__container

   &__container {}

   // .footer__body

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 85px;
      padding-bottom: 98px;

      @media (max-width: 789px) {
         flex-wrap: wrap;
         row-gap: 30px;
         justify-content: space-evenly;
      }

      @media (max-width: 527px) {
         flex-direction: column;
         align-items: center;
         padding-bottom: 0px;
      }
   }

   // .footer__box

   &__box {
      display: flex;
      flex-direction: column;
      flex: 0 1 235px;

      @media (max-width: 527px) {
         align-items: center;
         text-align: center;
         flex: 1 1 auto;
      }
   }

   // .footer__logo

   &__logo {
      padding-bottom: 23px;
      max-width: 174px;
   }

   // .footer__text

   &__text {
      padding-bottom: 33px;
      line-height: 22px;
   }

   // .footer__socials

   &__socials {
      display: flex;
      align-items: center;
      gap: 18px;
   }

   // .footer__button

   &__button {
      cursor: auto;
      font-weight: 700;
      line-height: 22px;
      padding-bottom: 28px;
      position: relative;

      @media (max-width: 527px) {
         cursor: pointer;

         &:hover {
            color: #C40B0B;
         }

         &::after {
            content: '';
            position: absolute;
            top: 5px;
            right: -18px;
            border: 7px solid transparent;
            border-top-color: #C40B0B;
            border-bottom: 0;
         }
      }
   }

   // .footer__others

   &__others {
      display: flex;
      column-gap: 131px;
      @include adaptiveValue("column-gap", 131, 60, 1100, 800, 1);

      @media (max-width: 527px) {
         display: none;
      }

   }

   // .footer__explore

   &__explore {

      @media (max-width: 527px) {
         text-align: center;
      }
   }

   // .footer__links

   &__links {
      display: flex;
      flex-direction: column;
   }

   // .footer__link

   &__link {
      font-weight: 700;
      line-height: 22px;
      padding-bottom: 11px;

      &:hover {
         color: #C40B0B;
      }
   }

   // .footer__contact

   &__contact {
      line-height: 20px;
      flex: 0 1 237px;

      @media (max-width: 527px) {
         text-align: center;
         flex: 0 1 auto;
         padding-bottom: 30px;
      }
   }

   // .footer__btn

   &__btn {
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.15px;
      padding-bottom: 28px;
      position: relative;
      cursor: auto;

      @media (max-width: 527px) {
         cursor: pointer;

         &:hover {
            color: #C40B0B;
         }

         &::after {
            content: '';
            position: absolute;
            top: 5px;
            right: -18px;
            border: 7px solid transparent;
            border-top-color: #C40B0B;
            border-bottom: 0;
         }
      }

   }

   // .footer__items

   &__items {
      display: flex;
      flex-direction: column;

      @media (max-width: 527px) {
         text-align: left;
         display: none;
      }
   }

   // .footer__item

   &__item {
      padding-bottom: 16px;
   }

   // .footer__position

   &__position {
      position: relative;
      padding-left: 30px;

      &::before {
         content: '';
         background: url('@img/icons/footer-position.svg') no-repeat;
         position: absolute;
         top: 4px;
         left: 0px;
         width: 16px;
         height: 16px;

      }
   }

   // .footer__tel

   &__tel {
      position: relative;
      padding-left: 30px;

      &::before {
         content: '';
         background: url('@img/icons/footer-smartphone.svg') no-repeat;
         position: absolute;
         top: 4px;
         left: 0px;
         width: 16px;
         height: 16px;

      }
   }

   // .footer__email

   &__email {
      position: relative;
      padding-left: 30px;

      &::before {
         content: '';
         background: url('@img/icons/footer-email.svg') no-repeat;
         position: absolute;
         top: 4px;
         left: 0px;
         width: 16px;
         height: 16px;

      }
   }

   // .footer__time

   &__time {
      position: relative;
      padding-left: 30px;

      &::before {
         content: '';
         background: url('@img/icons/footer-timer.svg') no-repeat;
         position: absolute;
         top: 4px;
         left: 0px;
         width: 16px;
         height: 16px;

      }
   }
}

.activeOne {
   display: flex;
}

.activeHidden {
   display: flex;
}

.level-down {
   padding: 23px 0px 19px 0px;
   background: #02133C;

   // .level-down__container

   &__container {
      gap: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (max-width: 725px) {
         justify-content: center;
      }
   }

   // .level-down__text

   &__text {
      color: #959595;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.15px;

      @media (max-width: 400px) {
         text-align: center;
      }
   }
}