//====================================================================================================

//====================================================================================================
.who-we-are {
   padding-bottom: 150px;

   // .who-we-are__container

   &__container {
      border: 0.01px solid white;
      position: relative;
      top: -80px;
      max-height: 700px;
      background: #fff url('@img/2. Who we are/who-we-are_background.svg') top right no-repeat;
   }

   // .who-we-are__paragraph

   &__paragraph {
      padding: 100px 0px 36px 0px;
   }

   // .who-we-are__text

   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      padding-bottom: 54px;
   }

   // .who-we-are__img-block

   &__img-block {
      display: flex;
      flex-direction: column;
   }

   // .who-we-are__picture-ibg

   &__picture-ibg {
      padding: 0px 0px 49.64% 0px;
   }

}

.paragraph-items {

   // .paragraph-items__label

   &__label {
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 2.5px;
      text-transform: uppercase;
      position: relative;
      padding: 0px 0px 34px 35px;

      &::before {
         position: absolute;
         top: -2px;
         left: 0;
         content: '';
         background: url('@img/2. Who we are/sublogo.svg');
         height: 20px;
         width: 18px;
      }
   }

   // .paragraph-items__title

   &__title {
      max-width: 583px;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      color: #02133C;
   }
}


.small-container {
   max-width: 846px;
   margin: 0 auto;
}

.items-title {}




.promise {
   padding-bottom: 121px;

   // .promise__container

   &__container {}

   // .promise__paragraph

   &__paragraph {
      padding-bottom: 68px;
   }

   // .promise__items

   &__items {
      display: flex;
      gap: 24px;

      @media (max-width: 815px) {
         flex-wrap: wrap;
      }
   }

   // .promise__item

   &__item {
      display: flex;
      flex: 1 1 33.333%;
      gap: 23px;
      align-items: flex-start;

      @media (max-width: 815px) {
         flex: 1 1 330px;
      }
   }

   // .promise__img

   &__img {}

   // .promise__blok

   &__blok {}

}

.block-item {

   // .block-item__title

   &__title {
      font-weight: 900;
      font-size: 19px;
      line-height: 26px;
      color: #02133C;
      padding-bottom: 20px;
   }

   // .block-item__text

   &__text {
      line-height: 24px;
      letter-spacing: 0.15px;
   }
}

.paragraph-items {

   // .paragraph-items__label

   &__label {}

   // .paragraph-items__title

   &__title {}
}

.video-block {
   position: relative;

   // .video-block__video

   &__video {
      display: flex;
      flex-direction: column;
   }

   // .video-block__picture-ibg

   &__picture-ibg {
      padding: 0px 0px 34.72% 0px;
   }

   // .video-block__container

   &__container {
      position: absolute;
      top: 25%;
      left: 55%;

      @media (max-width: 520px) {
         top: 33%;
         left: 0%;
      }
   }

   // .video-block__title

   &__title {
      cursor: pointer;
      max-width: 411px;
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      color: #fff;
      @include adaptiveValue("font-size", 36, 14, 790, 320, 1);
      @include adaptiveValue("line-height", 42, 19, 700, 320, 1);

      &:hover {
         color: rgb(170, 170, 170);
      }

      @media (max-width: 520px) {
         max-width: 200px;
      }

      @media (max-width: 410px) {
         max-width: 150px;
      }
   }
}

.hidden {
   display: none;
}

.services {
   background: url('@img/5. Services/Services bg-top.svg') top left no-repeat, url('@img/5. Services/Services bg-bottom.svg') bottom right no-repeat;
   padding-top: 110px;

   // .services__container

   &__container {}

   // .services__paragraph

   &__paragraph {
      padding-bottom: 78px;
   }

   // .services__board

   &__board {
      display: flex;
      flex-wrap: wrap;
      row-gap: 24px;
      margin: 0px -12px;
      justify-content: center;
      padding-bottom: 66px;
   }

   // .services__items

   &__items {
      padding: 0px 12px;
      flex: 0 0 33.333%;
      min-width: 312px;

      &:hover {
         filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
      }

   }

   // .services__item

   &__item {
      background: #fff;
      padding: 50px 44px;
      text-align: center;

   }

   // .services__icon

   &__icon {
      flex: 0 0 63px;
      padding-bottom: 33px;
   }

   // .services__button

   &__button {
      padding: 12px 53px 12px 17px;
      margin: 0 auto;
      max-width: 211px;
      display: block;

      // .services__button_center

      &_center {
         display: flex;
         flex-direction: column;
         padding-bottom: 128px;
      }
   }
}

.paragraph-items {

   // .paragraph-items__label

   &__label {}

   // .paragraph-items__title

   &__title {}
}

.block-item {

   // .block-item__title

   &__title {}

   // .block-item__text

   &__text {}
}

.btn {}


.form-appointment {
   padding-top: 130px;
   background: url('@img/6. Form block/form block bg-top.svg') top right no-repeat, url('@img/6. Form block/form block bg-bottom.svg') -60px 440px no-repeat #02133C;

   // .form-appointment__container

   &__container {}

   // .form-appointment__items

   &__items {
      display: flex;
      column-gap: 111px;
      align-items: center;
      padding-bottom: 210px;

      @media (max-width: 900px) {
         justify-content: center;
      }
   }

   // .form-appointment__cards

   &__cards {
      background: #FFFFFF;
      padding: 76px 0px 76px 0px;
      text-align: center;
      max-width: 585px;
      margin: 0 -10px;
   }

   // .form-appointment__box

   &__box {
      padding: 0 10px;

   }

   // .form-appointment__title

   &__title {
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      color: #02133C;
      padding-bottom: 48px;
   }

   // .form-appointment__elements

   &__elements {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      justify-content: center;
      padding-bottom: 30px;
   }

   // .form-appointment__input

   &__input {
      flex: 0 0 224px;
      height: 48px;
      background: #F5F5F5;
      padding: 0px 0px 0px 24px;
   }

   // .form-appointment__textarea

   &__textarea {
      flex: 0 1 470px;
      background: #F5F5F5;
      padding: 17px 0px 0px 24px;
      height: 180px;
      resize: vertical;
   }

   // .form-appointment__button

   &__button {
      padding: 12px 51px 12px 17px;
   }

   // .form-appointment__paragraph

   &__paragraph {}
}

.btn {}

.paragraph-appointment {
   text-align: center;
   font-weight: 900;
   color: #FFFFFF;

   @media (max-width: 900px) {
      display: none;
   }


   // .paragraph-appointment__title

   &__title {
      font-size: 30px;
      line-height: 36px;
      padding-bottom: 46px;
      @include adaptiveValue("font-size", 30, 20, 990, 750, 1);
      @include adaptiveValue("line-height", 36, 22, 990, 750, 1);

   }

   // .paragraph-appointment__thousands

   &__thousands {
      font-size: 96px;
      line-height: 56px;
      color: #C40B0B;
      padding-bottom: 46px;
      @include adaptiveValue("font-size", 96, 50, 990, 750, 1);
      @include adaptiveValue("line-height", 56, 26, 990, 750, 1);
   }

   // .paragraph-appointment__text

   &__text {
      font-size: 19px;
      line-height: 26px;
   }
}

.galery-streams {

   background: url('@img/7. GALLERY stream/GALLERY streams bg-bottom.svg') -50px 423px no-repeat;
   padding-bottom: 170px;

   // .galery-streams__container

   &__container {
      background: #fff;
      border: 1px solid #fff;
      position: relative;
      top: -88px;
      left: 0;
      max-height: 700px;
   }

   // .galery-streams__paragraph

   &__paragraph {
      padding-top: 100px;
      padding-bottom: 55px;
   }

   // .galery-streams__tabs

   &__tabs {}
}

.small-container {}

.paragraph-items {

   // .paragraph-items__label

   &__label {}

   // .paragraph-items__title

   &__title {}
}

.tabs {
   color: #02133C;
   align-items: center;

   // .tabs__navigation

   &__navigation {
      padding-bottom: 66px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 98px;
      row-gap: 10px;
      justify-content: center;
      position: relative;

      @media (max-width: 820px) {
         @include adaptiveValue(" column-gap", 98, 50, 820, 600, 1);
      }

      @media (max-width: 670px) {
         @include adaptiveValue(" column-gap", 50, 20, 670, 450, 1);
      }

      @media (max-width: 600px) {
         flex-direction: column;
      }
   }

   // .tabs__title

   &__title {
      &::after {
         content: ('');
         position: absolute;
         bottom: 66px;
         left: 0;
         border-bottom: 1px solid #D5D5D5;
         display: block;
         width: 100%;
      }

   }

   // .tabs__content

   &__content {
      display: flex;
      flex-direction: column;
   }

   // .tabs__body-ibg

   &__body-ibg {
      padding: 0px 0px 56.73% 0px;
   }

   // .tabs__image

   &__image {
      cursor: pointer;
   }
}


._tab-active {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.15px;
   color: #C40B0B;
   border-bottom: 4px solid #C40B0B;
   padding-bottom: 15px;
}

.customers {

   // .customers__container

   &__container {}

   // .customers__box

   &__box {
      display: flex;
      gap: 24px;
      padding-bottom: 210px;

      @media (max-width: 1035px) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }

   // .customers__paragraph

   &__paragraph {
      flex: 0 0 324px;

      @media (max-width: 1035px) {
         flex: 0 1 auto;

      }
   }

   // .customers__items

   &__items {
      display: flex;
      justify-content: space-between;

      @media (max-width: 1035px) {
         justify-content: center;
         gap: 30px;
      }

      @media (max-width: 665px) {
         flex-wrap: wrap;
      }
   }

   // .customers__item

   &__item {
      display: flex;
      flex: 0 1 324px;

      @media (max-width: 665px) {
         flex: 0 0 324px;
         flex-wrap: wrap;
      }

      @media (max-width: 360px) {
         flex: 0 0 300px;
      }
   }

   // .customers__review

   &__review {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #fff;
      padding: 50px 44px 40px 44px;

   }

   // .customers__text

   &__text {
      line-height: 24px;
      letter-spacing: 0.15px;
      padding-bottom: 18px;
   }

   // .customers__subscriber

   &__subscriber {
      display: flex;
      align-items: center;
      gap: 17px;
   }

   // .customers__foto

   &__foto {}

   // .customers__name

   &__name {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #02133C;
   }
}

.paragraph-items {

   // .paragraph-items__label

   &__label {}

   // .paragraph-items__title

   &__title {}
}

.impact {
   background: #02133C url('@img/9. Impact/impact bg.png') 0px -50px no-repeat;

   @media (max-width: 890px) {
      padding-top: 112px;
   }

   // .impact__container

   &__container {}

   // .impact__level-top

   &__level-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 15px;

      @media (max-width: 890px) {
         padding-bottom: 79px;
      }
   }

   // .impact__paragraph

   &__paragraph {
      flex: 0 0 411px;
      margin: 0px 20px 0px 0px;

      @media (max-width: 890px) {
         flex: 1 1 auto;
         margin: 0px 0px 0px 0px;
      }
   }

   // .impact__picture

   &__picture {
      flex: 0 1 498px;
      position: relative;
      top: -85px;

      @media (max-width: 890px) {
         display: none;
      }
   }

   // .impact__image

   &__image {
      width: 100%;
      height: 100%;

      @media (max-width: 890px) {
         display: none;

      }
   }


   // .impact__level-down

   &__level-down {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      padding-bottom: 59px;

      @media (max-width: 890px) {
         justify-content: center;
         gap: 50px;
      }
   }

   // .impact__items

   &__items {
      display: flex;
      align-items: flex-start;
      gap: 12px;

   }

   // .impact__item

   &__item {}

   // .impact__thousands

   &__thousands {
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      color: #C40B0B;
   }

   // .impact__text

   &__text {
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #F5F5F5;
   }
}

.paragraph-items {

   // .paragraph-items__label

   &__label {

      // .paragraph-items__label_color

      &_color {
         color: #D5D5D5;
      }
   }

   // .paragraph-items__title

   &__title {

      // .paragraph-items__title_color

      &_color {
         color: #fff;
      }
   }
}

.impact {

   // .impact__footer

   &__footer {}

   // .impact__more

   &__more {}
}

.small {

   // .small__container

   &__container {}
}

.more-impact {
   display: flex;
   background: #fff;
   padding: 43px 76px 48px 70px;
   justify-content: space-between;
   align-items: center;
   gap: 15px;
   position: relative;
   bottom: -75px;

   @media (max-width: 670px) {
      flex-wrap: wrap;
      justify-content: center;

   }

   // .more-impact__text

   &__text {
      font-weight: 900;
      font-size: 24px;
      line-height: 30px;
      color: #02133C;
      @include adaptiveValue("font-size", 24, 18, 410, 320, 1);
      @include adaptiveValue("line-height", 30, 20, 410, 320, 1);

      @media (max-width: 670px) {
         flex: 1 1 auto;
         text-align: center;
      }
   }

   // .more-impact__button

   &__button {
      display: block;
      padding: 12px 53px 12px 17px;
      min-width: 213px;
      cursor: pointer;
   }
}

.btn {}