@import url(https://fonts.googleapis.com/css?family=Raleway:regular,500,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Raleway";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 69.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.125rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #000;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header__logo {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.05em;
  text-align: center;
}

@supports (font-size: clamp( 1.5rem , 0.4565217391rem  +  5.2173913043vw , 2.25rem )) {
  .header__logo {
    font-size: clamp( 1.5rem , 0.4565217391rem  +  5.2173913043vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.4565217391rem  +  5.2173913043vw , 2.25rem )) {
  .header__logo {
    font-size: calc(1.5rem + 0.75 * (100vw - 20rem) / 14.375);
  }
}

@supports (line-height: clamp( 1.75rem , 0.5326086957rem  +  6.0869565217vw , 2.625rem )) {
  .header__logo {
    line-height: clamp( 1.75rem , 0.5326086957rem  +  6.0869565217vw , 2.625rem );
  }
}

@supports not (line-height: clamp( 1.75rem , 0.5326086957rem  +  6.0869565217vw , 2.625rem )) {
  .header__logo {
    line-height: calc(1.75rem + 0.875 * (100vw - 20rem) / 14.375);
  }
}

.menu__body {
  position: fixed;
  width: 180px;
  height: 100%;
  top: 0;
  left: -100%;
  -webkit-transition: left 0.3 ease 0s;
  -o-transition: left 0.3 ease 0s;
  transition: left 0.3 ease 0s;
  padding-top: 150px;
  background: rgba(206, 206, 206, 0.9);
  border-right: 1px solid #000;
}

.menu__body::before {
  content: "";
  position: fixed;
  background: rgb(104, 104, 104);
  width: 180px;
  height: 100px;
  left: -100%;
  top: 0;
  -webkit-transition: left 0.3 ease 0s;
  -o-transition: left 0.3 ease 0s;
  transition: left 0.3 ease 0s;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  content: "";
  left: 0;
}

.menu__item {
  padding-bottom: 30px;
  padding-left: 30px;
}

.menu__link {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.menu__link::after {
  content: "";
  background: #000;
  height: 1px;
  width: auto;
  display: block;
}

.menu__link:hover {
  -webkit-transition: all 0.3 ease 0s;
  -o-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
  color: rgb(136, 136, 136);
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  background: #2E2E2E;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: center;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 81px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  padding-bottom: 25px;
}

.footer__link:hover {
  -webkit-transition: all 0.3 ease 0s;
  -o-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
  color: rgb(136, 136, 136);
}

.footer__link_thin {
  font-weight: 500;
  padding-bottom: 25px;
}

.footer__link_thin:hover {
  -webkit-transition: all 0.3 ease 0s;
  -o-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
  color: rgb(136, 136, 136);
}

.footer__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__arrow:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__button {
  font-weight: 700;
  font-size: 20px;
  line-height: 180.9%;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 22px 59px 22px 58px;
  display: inline-block;
  position: relative;
}

.footer__button::before {
  content: "";
  width: 68px;
  height: 65px;
  background: url("../img/Footer/bg button left.svg") no-repeat;
  position: absolute;
  bottom: -2px;
  left: -1px;
}

.footer__button::after {
  content: "";
  width: 68px;
  height: 65px;
  background: url("../img/Footer/bg button right.svg") no-repeat;
  position: absolute;
  top: -1px;
  right: -2px;
}

.footer__button:hover {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: rgb(136, 136, 136);
}

.footer__tel {
  padding-top: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 180.9%;
  letter-spacing: 0.04em;
  text-align: right;
}

.footer__email {
  font-weight: 700;
  font-size: 20px;
  line-height: 180.9%;
  letter-spacing: 0.04em;
  padding-bottom: 30px;
  text-align: right;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mainpage {
  padding-top: 150px;
  background: url("../img/Mainpage/bg.svg") 270px 100px no-repeat;
}

.mainpage__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 470px 1fr;
  grid-template-columns: 470px 1fr;
  gap: 100px;
}

.mainpage__items {
  text-align: right;
}

.mainpage__paragraph {
  padding-top: 111px;
  padding-bottom: 109px;
}

.mainpage__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 154.9%;
  letter-spacing: 0.05em;
  padding-bottom: 94px;
}

@supports (font-size: clamp( 1.75rem , -0.3726415094rem  +  3.7735849057vw , 2.25rem )) {
  .mainpage__title {
    font-size: clamp( 1.75rem , -0.3726415094rem  +  3.7735849057vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.75rem , -0.3726415094rem  +  3.7735849057vw , 2.25rem )) {
  .mainpage__title {
    font-size: calc(1.75rem + 0.5 * (100vw - 56.25rem) / 13.25);
  }
}

.mainpage__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 180.9%;
  letter-spacing: 0.04em;
  padding: 22px 59px 22px 58px;
  position: relative;
  display: inline-block;
}

.mainpage__button::before {
  content: "";
  width: 68px;
  height: 65px;
  background: url("../img/Mainpage/button before.svg") no-repeat;
  position: absolute;
  bottom: -2px;
  left: -1px;
}

.mainpage__button::after {
  content: "";
  width: 68px;
  height: 65px;
  background: url("../img/Mainpage/button after.svg") no-repeat;
  position: absolute;
  top: -1px;
  right: -2px;
}

.mainpage__button:hover {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: #ccc;
}

.mainpage__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainpage__multilanguage {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.mainpage__multilanguage p:nth-child(2)::before,
.mainpage__multilanguage p:nth-child(2)::after {
  content: "";
  display: inline-block;
  border: 1px solid #000;
  height: 15px;
  margin: 0px 5px 0px 5px;
  position: relative;
  bottom: -2px;
}

.mainpage__slider {
  width: 840px;
  position: relative;
}

.mainpage__slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  padding-bottom: 200px;
}

.mainpage__image {
  max-height: 325px;
  min-width: 100%;
}

.mainpage__image:hover {
  -webkit-box-shadow: 0px 0px 13px 6px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 13px 6px rgba(34, 60, 80, 0.2);
}

.mainpage__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  position: absolute;
  bottom: 86px;
  left: 380px;
}

.bold {
  font-weight: 900;
  letter-spacing: 0.04em;
}

.slide-mainpage__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  padding-top: 44px;
  padding-bottom: 10px;
}

.slide-mainpage__text {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #666666;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}

.swiper-pagination-bullet {
  display: block;
  border-radius: 100%;
  height: 11px;
  width: 11px;
  background: #828282;
}

.swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0.8);
}

.collection {
  padding-top: 54px;
  padding-bottom: 200px;
  background: url("../img/Mainpage/bg.svg") 120px 156px no-repeat, url("../img/Mainpage/bg.svg") 680px 103px no-repeat;
}

.collection__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  padding-bottom: 162px;
}

.collection__wrapper {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}

.collection__picture-ibg {
  display: block;
  padding: 0px 0px 100% 0px;
}

.collection__image {
  border-radius: 20px;
}

.collection__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 180.9%;
  letter-spacing: 0.04em;
  padding-top: 31px;
  text-align: center;
  display: block;
  width: 253px;
}

.collection__button-prev {
  position: relative;
  top: -190px;
  left: -73px;
}

.collection__button-next {
  position: relative;
  top: -190px;
  left: 854px;
}

.decorations__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  padding-bottom: 66px;
}

.decorations__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  gap: 35px;
}

.decorations__sales {
  -ms-grid-column-span: 5;
  grid-column: span 5;
  position: relative;
}

.decorations__image {
  border-radius: 20px;
  max-width: 100%;
}

.decorations__image:hover {
  -webkit-box-shadow: 0px 0px 28px 15px rgba(22, 22, 22, 0.2);
          box-shadow: 0px 0px 28px 15px rgba(22, 22, 22, 0.2);
}

.decorations__text {
  z-index: 2;
  background: rgba(255, 255, 255, 0.58);
  -webkit-box-shadow: 0px 4px 14px 14px rgba(255, 255, 255, 0.25);
          box-shadow: 0px 4px 14px 14px rgba(255, 255, 255, 0.25);
  border-radius: 26px;
  font-weight: 700;
  font-size: 16px;
  line-height: 180.9%;
  letter-spacing: 0.04em;
  padding: 20px;
  text-align: center;
}

.decorations__promotional {
  -ms-grid-column-span: 3;
  grid-column: span 3;
  -ms-grid-row-span: 2;
  grid-row: span 2;
  position: relative;
}

.decorations__her {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  position: relative;
}

.decorations__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-span: 5;
  grid-column: span 5;
}

.decorations__gold {
  position: relative;
}

.decorations__silver {
  position: relative;
}

.decorations__him {
  -ms-grid-column-span: 4;
  grid-column: span 4;
  position: relative;
}

.text-sales {
  position: absolute;
  top: 40%;
  left: 32%;
}

.text-promotional {
  position: absolute;
  top: 40%;
  left: 0%;
}

.text-her {
  position: absolute;
  top: 40%;
  left: 35%;
}

.text-gold {
  position: absolute;
  top: 40%;
  left: 25%;
}

.text-silver {
  position: absolute;
  top: 40%;
  left: 25%;
}

.text-him {
  position: absolute;
  top: 40%;
  left: 35%;
}

.benefits {
  padding-top: 200px;
  padding-bottom: 100px;
}

.benefits__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  padding-bottom: 120px;
}

.benefits__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 30px;
}

.benefits__item {
  text-align: center;
}

.benefits__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 180.9%;
  letter-spacing: 0.04em;
}

.benefits__text_bold {
  font-weight: 700;
  font-size: 36px;
}

.news {
  padding-top: 100px;
  padding-bottom: 100px;
}

.news__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.05em;
  padding-bottom: 66px;
}

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.19);
  padding: 25px;
}

.news__image {
  max-width: 100%;
}

.input {
  font-weight: 700;
  font-size: 16px;
  line-height: 180.9%;
  letter-spacing: 0.04em;
  color: rgba(0, 0, 0, 0.58);
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
  width: 411px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 71.375em) {
  [class*=__container] {
    max-width: 60.625rem;
  }

  .footer__columns {
    gap: 40px;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .mainpage__navigation {
    display: none;
  }

  .collection__button-prev {
    display: none;
  }

  .collection__button-next {
    display: none;
  }

  .text-sales {
    top: 30%;
    left: 23%;
  }

  .text-promotional {
    top: 30%;
    left: -5%;
  }

  .text-her {
    top: 30%;
    left: 23%;
  }

  .text-gold {
    top: 20%;
    left: 10%;
  }

  .text-silver {
    top: 20%;
    left: 10%;
  }

  .text-him {
    top: 20%;
    left: 23%;
  }

  .news__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 0.9375rem;
  }

  .mainpage__body {
    -ms-grid-columns: 300px 1fr;
    grid-template-columns: 300px 1fr;
  }

  .text-sales {
    top: 30%;
    left: 23%;
  }

  .text-promotional {
    top: 30%;
    left: -7%;
  }

  .text-her {
    top: 30%;
    left: 23%;
  }

  .text-gold {
    top: 20%;
    left: 10%;
  }

  .text-silver {
    top: 20%;
    left: 10%;
  }

  .text-him {
    top: 20%;
    left: 23%;
  }

  .input {
    width: 270px;
  }
}

@media (max-width: 29.99875em) {
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 200px;
       -moz-column-gap: 200px;
            column-gap: 200px;
    row-gap: 50px;
  }

  .footer__tel {
    text-align: center;
  }

  .footer__email {
    text-align: center;
  }

  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mainpage__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .mainpage__items {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .mainpage__title {
    max-width: 400px;
    text-align: center;
  }

  .mainpage__button {
    text-align: center;
    padding: 22px 20px 22px 20px;
  }

  .mainpage__slider {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    width: 100%;
  }

  .collection__title {
    text-align: center;
  }

  .decorations__title {
    text-align: center;
  }

  .decorations__items {
    gap: 20px;
  }

  .decorations__sales {
    -ms-grid-column-span: 12;
    grid-column: span 12;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .decorations__text {
    padding: 10px;
  }

  .decorations__promotional {
    -ms-grid-column-span: 6;
    grid-column: span 6;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .decorations__her {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .decorations__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
    -ms-grid-column-span: 6;
    grid-column: span 6;
    grid-auto-flow: 2;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

@supports (gap: clamp( 2.8125rem , 0.0852272727rem  +  13.6363636364vw , 3.75rem )) {
    .decorations__item {
      gap: clamp( 2.8125rem , 0.0852272727rem  +  13.6363636364vw , 3.75rem );
    }
}

@supports not (gap: clamp( 2.8125rem , 0.0852272727rem  +  13.6363636364vw , 3.75rem )) {
    .decorations__item {
      gap: calc(2.8125rem + 0.9375 * (100vw - 20rem) / 6.875);
    }
}

  .decorations__him {
    -ms-grid-column-span: 6;
    grid-column: span 6;
    -ms-grid-row-align: center;
        align-self: center;
  }

  .text-sales {
    top: 35%;
    left: 32%;
  }

  .text-promotional {
    top: 30%;
    left: -2%;
  }

  .text-her {
    top: 20%;
    left: 25%;
  }

  .text-gold {
    top: 30%;
    left: 27%;
  }

  .text-silver {
    top: 30%;
    left: 27%;
  }

  .text-him {
    top: 20%;
    left: 24%;
  }

  .benefits__title {
    text-align: center;
  }

  .benefits__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .news__title {
    text-align: center;
  }
}