@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "Helvetica Neue Condensed Black";
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Black.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Condensed Bold";
  font-display: swap;
  src: url("../fonts/Helvetica Neue Condensed Bold.woff2") format("woff2"), url("../fonts/Helvetica Neue Condensed Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue LT 55 Roman Regular";
  font-display: swap;
  src: url("../fonts/HelveticaNeue LT 55 Roman Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue LT 55 Roman Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  font-family: "HelveticaNeue LT 55 Roman Regular";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "HelveticaNeue LT 55 Roman Regular";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: url("../img/2. favourite food/bg.jpg") 0 0/cover no-repeat #1A1A1A;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  font-family: "Helvetica Neue Condensed Black";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  color: rgb(179, 179, 179);
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
  -webkit-text-stroke: 0.0625rem rgb(249, 173, 61);
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(249, 173, 61);
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  padding-top: 2.0625rem;
}

.header::after {
  content: "";
  display: block;
  padding-top: 2rem;
  border-bottom: 1px solid #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.5625rem;
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8125rem;
}

.menu__link {
  font-family: "Helvetica Neue Condensed Bold";
}

.menu__link:hover {
  color: #34C759;
}

.footer {
  background: #252525;
  padding-top: 1.875rem;
  text-align: center;
  padding-bottom: 1.875rem;
  position: relative;
}

.footer::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  opacity: 0.1;
  position: absolute;
  bottom: 7.375rem;
  left: 0;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  gap: 1.875rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.5625rem;
  padding-bottom: 0.8125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3.75rem;
}

.favourite-food {
  padding-top: 5rem;
  padding-bottom: 25.0625rem;
}

.favourite-food__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4.375rem;
}

.favourite-food__title {
  font-family: "Helvetica Neue Condensed Bold";
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  -webkit-text-stroke: 1px #000;
  padding-bottom: 1rem;
}

@supports (font-size: clamp( 2.5rem , 0.1923076923rem  +  6.1538461538vw , 4.5rem )) {
  .favourite-food__title {
    font-size: clamp( 2.5rem , 0.1923076923rem  +  6.1538461538vw , 4.5rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 0.1923076923rem  +  6.1538461538vw , 4.5rem )) {
  .favourite-food__title {
    font-size: calc(2.5rem + 2 * (100vw - 37.5rem) / 32.5);
  }
}

@supports (line-height: clamp( 3.375rem , -4.2954545455rem  +  13.6363636364vw , 5.25rem )) {
  .favourite-food__title {
    line-height: clamp( 3.375rem , -4.2954545455rem  +  13.6363636364vw , 5.25rem );
  }
}

@supports not (line-height: clamp( 3.375rem , -4.2954545455rem  +  13.6363636364vw , 5.25rem )) {
  .favourite-food__title {
    line-height: calc(3.375rem + 1.875 * (100vw - 56.25rem) / 13.75);
  }
}

.favourite-food__title_small {
  font-family: "Inter";
}

.favourite-food__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  padding-bottom: 4.0625rem;
  max-width: 37.1875rem;
}

.favourite-food__button {
  font-family: "Helvetica Neue Condensed Bold";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  padding: 1.5625rem 3.1875rem;
  background: #34C759;
  border-radius: 43px;
  max-width: 13.75rem;
}

.favourite-food__button:hover {
  background: #23883c;
}

.favourite-food__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  gap: 1.875rem;
}

.item-food__icon {
  padding-bottom: 1rem;
}

.item-food__title {
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.item-food__text {
  line-height: 1.875rem;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.healthy-food {
  position: relative;
  top: -15.25rem;
}

.healthy-food__body {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 6.5625rem 11.9375rem 5.625rem 11.5625rem;
  position: relative;
}

.healthy-food__title {
  padding-bottom: 3.8125rem;
}

.healthy-food__title::before {
  content: "ABOUT";
  font-family: "Helvetica Neue Condensed Black";
  font-size: 100px;
  letter-spacing: 0.2em;
  color: #303030;
  position: absolute;
  top: 0;
  left: 183px;
  z-index: -1;
}

.healthy-food__text {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #A6A6A6;
  padding-bottom: 5.625rem;
}

.healthy-food__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.125rem;
}

.healthy-food__image {
  max-width: 100%;
}

.paragraph {
  font-size: 1.875rem;
  line-height: 60px;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: capitalize;
}

.swiper-button-prev {
  position: absolute;
  bottom: 12.1875rem;
  left: 4rem;
}

.swiper-button-next {
  position: absolute;
  bottom: 12.1875rem;
  right: 4.0625rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.how-it-works {
  margin-top: -5.875rem;
  padding-bottom: 1.875rem;
}

.how-it-works__title {
  padding-bottom: 5.625rem;
}

.how-it-works__title::before {
  content: "WORK";
  font-family: "Helvetica Neue Condensed Black";
  font-size: 6.25rem;
  letter-spacing: 0.1em;
  color: #303030;
  position: absolute;
  top: 0;
  left: 25.9375rem;
  z-index: -1;
}

.how-it-works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.item-cards {
  background: #252525;
  padding: 1.5rem 1.5rem 2.625rem 1.5rem;
  border-radius: 6px;
}

.item-cards:hover {
  background: #34C759;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #191919;
}

.item-cards:hover .item-cards__title {
  color: #191919;
}

.item-cards:hover .item-cards__title::after {
  border-bottom: 2px solid #191919;
}

.item-cards__title {
  font-size: 1.375rem;
  line-height: 1.625rem;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-bottom: 1.5rem;
}

.item-cards__title::after {
  content: "";
  padding-bottom: 1.25rem;
  border-bottom: 2px solid #34C759;
  width: 3.5rem;
  display: block;
}

.item-cards__text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: -0.01015625rem;
  width: 12.9375rem;
}

.dish-of-the-day {
  padding-top: 5.625rem;
  padding-bottom: 1.875rem;
}

.dish-of-the-day__title {
  padding-bottom: 5.625rem;
}

.dish-of-the-day__title::before {
  content: "DISHES";
  font-family: "Helvetica Neue Condensed Black";
  font-size: 6.25rem;
  letter-spacing: 0.1em;
  color: #303030;
  position: absolute;
  top: 0;
  left: 23.375rem;
  z-index: -1;
}

.dish-of-the-day__title::after {
  content: "";
  color: #34C759;
  width: 3.75rem;
  border-bottom: 0.125rem solid;
  position: relative;
  bottom: -1.75rem;
  left: 32.8125rem;
  display: block;
}

.dish-of-the-day__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.875rem;
}

.dish-of-the-day__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
}

.dish-of-the-day__card::before {
  content: "";
  background: url("../img/4. Dish Of The Day/arrow.png");
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1.4375rem;
  right: 1.4375rem;
  display: block;
  z-index: 2;
}

.dish-of-the-day__picture-ibg {
  padding-bottom: 74.28%;
}

.dish-of-the-day__image {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.dish-of-the-day__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr;
  grid-template-rows: auto auto 1fr;
  padding: 1.8125rem 1.5rem 1.75rem 1.875rem;
}

.card-body__title {
  font-size: 2rem;
  line-height: 1.875rem;
  color: #D9D9D9;
}

.card-body__subtitle {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: -0.009375rem;
  color: #A4A8B2;
  padding-bottom: 1.25rem;
}

.card-body__text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  letter-spacing: -0.01015625rem;
  color: #85878C;
  padding-bottom: 1.625rem;
}

.card-body__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.card-body__button {
  font-family: "Helvetica Neue Condensed Black";
  border: 0.125rem solid #303030;
  padding: 0.8125rem 1.8125rem 0.8125rem 1.8125rem;
  border-radius: 1.25rem;
  font-size: 0.625rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  display: block;
}

.card-body__button:hover {
  background: #34C759;
  color: #252525;
}

.chefs {
  padding-top: 5.625rem;
  padding-bottom: 1.875rem;
}

.chefs__title {
  padding-bottom: 3.75rem;
}

.chefs__title::before {
  content: "CHEFS";
  font-family: "Helvetica Neue Condensed Black";
  font-size: 6.25rem;
  letter-spacing: 0.1em;
  color: #303030;
  position: absolute;
  top: 0;
  left: 24.375rem;
  z-index: -1;
}

.chefs__title::after {
  content: "";
  color: #34C759;
  width: 3.75rem;
  border-bottom: 0.125rem solid;
  position: relative;
  bottom: -1.75rem;
  left: 32.8125rem;
  display: block;
}

.chefs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.3125rem;
}

.item-box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}

.item-box__icon {
  border-radius: 50%;
}

.item-box__title {
  font-size: 1.125rem;
  line-height: 1.5625rem;
  letter-spacing: -0.0140625rem;
  color: #FFFFFF;
}

.item-box__subtitle {
  font-size: 0.75rem;
  line-height: 1.5625rem;
  letter-spacing: -0.009375rem;
  color: rgba(255, 255, 255, 0.5);
}

.item-box__picture {
  border-radius: 0.375rem;
}

.item-box__picture:not(:last-child) {
  margin-right: 1.5625rem;
}

.recipes {
  padding-top: 5.625rem;
  padding-bottom: 1.875rem;
}

.recipes__title {
  padding-bottom: 3.75rem;
}

.recipes__title::before {
  content: "RECIPES";
  font-family: "Helvetica Neue Condensed Black";
  font-size: 6.25rem;
  letter-spacing: 0.1em;
  color: #303030;
  position: absolute;
  top: 0;
  left: 21.875rem;
  z-index: -1;
}

.recipes__title::after {
  content: "";
  color: #34C759;
  width: 3.75rem;
  border-bottom: 0.125rem solid;
  position: relative;
  bottom: -1.75rem;
  left: 32.8125rem;
  display: block;
}

.recipes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.recipes__item {
  color: #FFFFFF;
  line-height: 1.875rem;
}

.recipes__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.item-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/6. Recipes/image food bg.jpg") 0 0/cover no-repeat;
  padding: 3.75rem 5.625rem;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  text-align: center;
  position: relative;
}

.item-big::before {
  content: "";
  background: url("../img/6. Recipes/Icon arrow block 6.svg") center no-repeat rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1.4375rem;
  right: 1.4375rem;
  cursor: pointer;
}

.item-big__label {
  font-family: "Helvetica Neue Condensed Black";
  font-size: 0.625rem;
  line-height: 1.5625rem;
  letter-spacing: 0.078125rem;
  text-transform: uppercase;
  padding: 0rem 1rem;
  background: rgba(0, 0, 0, 0.3);
  max-width: 5.625rem;
  border-radius: 0.375rem;
  margin: 0 auto;
}

.item-big__data {
  padding-top: 4.0625rem;
  padding-bottom: 1.5625rem;
}

.item-big__text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 25.6875rem;
  padding-bottom: 2.8125rem;
}

.item-big__subtitle {
  padding-bottom: 4.0625rem;
}

.item-big__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-big__amount {
  font-family: "Helvetica Neue Condensed Bold";
  font-size: 16px;
  line-height: 30px;
}

.item-small {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.875rem 1.875rem 1.25rem 1.875rem;
}

.item-small_bg {
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.875rem 1.875rem 1.25rem 1.875rem;
  background: url("../img/6. Recipes/image food bg 2.jpg") 0 0/cover no-repeat;
}

.item-small_bg:hover {
  background: #34C759;
  color: #000;
}

.item-small:hover {
  background: #34C759;
  color: #000;
}

.item-small__text {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 0.625rem;
}

.item-small__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-small__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.item-small__label {
  font-family: "Helvetica Neue Condensed Black";
  font-size: 0.625rem;
  letter-spacing: 0.078125rem;
  text-transform: uppercase;
  padding: 0rem 0.625rem 0rem 0.625rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.375rem;
}

.item-small__data {
  font-size: 12px;
  line-height: 25px;
}

.item-small__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.item-small__amount {
  font-family: "Helvetica Neue Condensed Bold";
  font-size: 16px;
  line-height: 30px;
}

.social {
  padding-top: 5.625rem;
  padding-bottom: 7.5rem;
}

.social__title {
  padding-bottom: 5.625rem;
}

.social__title::before {
  content: "SOCIAL";
  font-family: "Helvetica Neue Condensed Black";
  font-size: 6.25rem;
  letter-spacing: 0.1em;
  color: #303030;
  position: absolute;
  top: 0;
  left: 24.375rem;
  z-index: -1;
}

.social__title::after {
  content: "";
  color: #34C759;
  width: 3.75rem;
  border-bottom: 0.125rem solid;
  position: relative;
  bottom: -1.75rem;
  left: 32.8125rem;
  display: block;
}

.social__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.item-social {
  background: #252525;
  max-width: 22.5rem;
  border-radius: 0.375rem;
}

.item-social__header {
  padding: 1.5625rem 1.5625rem 1.25rem 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.5625rem;
  position: relative;
}

.item-social__header::before {
  content: "";
  border-bottom: 0.0625rem solid rgb(48, 48, 48);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.item-social__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  line-height: 1.875rem;
  color: #BFBFBF;
}

.item-social__button {
  font-family: "Helvetica Neue Condensed Black";
  font-size: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #737373;
  padding: 0.875rem 1.0625rem 0.875rem 1.0625rem;
  border: 0.0625rem solid rgb(48, 48, 48);
  border-radius: 1.875rem;
}

.item-social__button:hover {
  background: #34C759;
  color: #000;
}

.item-social__boby {
  padding: 1.25rem 1.5625rem 1.25rem 1.5625rem;
  max-height: 15rem;
  max-width: 22.5rem;
  overflow: auto;
}

.item-social__boby_foto {
  max-height: 15rem;
  background: #252525;
  padding: 0rem 0rem 0rem 0rem;
  width: 22.5rem;
  overflow: hidden;
  position: relative;
}

.item-social__boby_foto::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: url("../img/7. Socials/arrow green.svg") no-repeat;
  display: block;
  position: absolute;
  top: 20%;
  left: 45%;
  cursor: pointer;
}

.item-social__data {
  line-height: 1.875rem;
  color: #737373;
}

.item-social__text {
  line-height: 1.875rem;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 0.625rem;
}

.item-social__hashtag {
  line-height: 30px;
  color: #34C759;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 71.25em) {
  .healthy-food__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .how-it-works__title::before {
    display: none;
  }

  .how-it-works__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 70.625em) {
  .dish-of-the-day__title::after {
    display: none;
  }

  .chefs__title::after {
    display: none;
  }

  .recipes__title::after {
    display: none;
  }

  .social__title::after {
    display: none;
  }
}

@media (max-width: 69.375em) {
  .healthy-food__title::before {
    display: none;
  }
}

@media (max-width: 68.75em) {
  .chefs__items {
    gap: 2.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 65.625em) {
  .social__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 58.75em) {
  .recipes__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 56.25em) {
  .dish-of-the-day__title::before {
    display: none;
  }

  .dish-of-the-day__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .chefs__title::before {
    display: none;
  }

  .recipes__title::before {
    display: none;
  }

  .social__title::before {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #737373;
    padding-top: 8.75rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    right: -100%;
    height: 5.625rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #252525;
    top: 0;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 43.75em) {
  .healthy-food__body {
    padding: 6.5625rem 6.25rem 5.625rem 6.25rem;
  }

  .swiper-button-prev {
    left: 0.625rem;
  }

  .swiper-button-next {
    right: 0.625rem;
  }
}

@media (max-width: 38.75em) {
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .favourite-food__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 38.125em) {
  .dish-of-the-day__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 31.25em) {
  .healthy-food__body {
    padding: 6.5625rem 1.25rem 5.625rem 1.25rem;
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 26.25em) {
  .item-big {
    padding: 3.75rem 1.25rem;
  }

  .item-small {
    padding: 1.875rem 0.9375rem 1.25rem 0.9375rem;
  }

  .item-small_bg {
    padding: 1.875rem 0.9375rem 1.25rem 0.9375rem;
  }
}

@media (max-width: 24.375em) {
  .item-small__paragraph {
    gap: 0.3125rem;
  }

  .item-small__body {
    gap: 0.625rem;
  }
}

@media (max-width: 23.75em) {
  .item-box__picture {
    margin-top: 0.625rem;
  }
}