@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #52503B;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  padding-top: 0.9375rem;
  padding-bottom: 1.0625rem;
  background: #52503B;
  color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 3;
}

.header__button {
  border-radius: 0.375rem;
  background: #fff;
  padding: 0.6875rem 1.125rem;
  color: #52503B;
  text-align: center;
}

.header__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #d6c954;
  color: #000;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #d6c954;
}

.footer {
  background: #52503B;
  color: #fff;
  padding-top: 6.25rem;
  padding-bottom: 6.875rem;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin-bottom: 3rem;
}

.footer__spollers {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.footer__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__title {
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}

.footer__text {
  line-height: 1.25rem;
  padding-bottom: 0.625rem;
}

.footer__button {
  position: absolute;
  top: 25%;
  right: 3%;
  padding: 0.3125rem 0.3125rem;
  background: #52503B;
  border-radius: 10px;
  z-index: 2;
}

.footer__button:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #d6c954;
  color: #000;
}

.footer__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-bottom: 1.25rem;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer__tel {
  line-height: 1.25rem;
}

.footer__tel:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #d6c954;
}

.footer__email {
  line-height: 1.25rem;
  position: relative;
}

.footer__email::before {
  content: "";
  background: #fff;
  width: 1rem;
  height: 0.0625rem;
  position: absolute;
  top: 50%;
  left: -1.1875rem;
  display: block;
}

.footer__email::after {
  content: "";
  background: #fff;
  width: 1rem;
  height: 0.0625rem;
  position: absolute;
  top: 50%;
  right: -1.1875rem;
  display: block;
}

.footer__email:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #d6c954;
}

.footer__adres {
  line-height: 1.25rem;
}

.spollers-footer__title {
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
  width: 8.125rem;
  text-align: left;
  position: relative;
}

._spoller-init .spollers-footer__title::after {
  content: "";
  background: url("../img/8. Footer/angle-circle-down.svg") 0 0/cover no-repeat, #fff;
  border-radius: 100%;
  border: 0.00625rem solid #FFF;
  width: 1.25rem;
  height: 1.25rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: -22%;
}

._spoller-init .spollers-footer__title._spoller-active::after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.spollers-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6875rem;
}

.menu-footer__item {
  padding-bottom: 0.625rem;
}

.menu-footer__link {
  line-height: 1.25rem;
}

.menu-footer__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #d6c954;
}

.input {
  padding: 1rem 1.25rem;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  color: #52503B;
  width: 35.875rem;
}

@supports (width: clamp( 33.125rem , 8.375rem  +  44vw , 35.875rem )) {
  .input {
    width: clamp( 33.125rem , 8.375rem  +  44vw , 35.875rem );
  }
}

@supports not (width: clamp( 33.125rem , 8.375rem  +  44vw , 35.875rem )) {
  .input {
    width: calc(33.125rem + 2.75 * (100vw - 56.25rem) / 6.25);
  }
}

@supports (width: clamp( 19.375rem , 6.0416666667rem  +  66.6666666667vw , 33.125rem )) {
  .input {
    width: clamp( 19.375rem , 6.0416666667rem  +  66.6666666667vw , 33.125rem );
  }
}

@supports not (width: clamp( 19.375rem , 6.0416666667rem  +  66.6666666667vw , 33.125rem )) {
  .input {
    width: calc(19.375rem + 13.75 * (100vw - 20rem) / 20.625);
  }
}

form {
  position: relative;
  width: 35.875rem;
}

@supports (width: clamp( 33.125rem , 8.375rem  +  44vw , 35.875rem )) {
  form {
    width: clamp( 33.125rem , 8.375rem  +  44vw , 35.875rem );
  }
}

@supports not (width: clamp( 33.125rem , 8.375rem  +  44vw , 35.875rem )) {
  form {
    width: calc(33.125rem + 2.75 * (100vw - 56.25rem) / 6.25);
  }
}

@supports (width: clamp( 19.375rem , 6.0416666667rem  +  66.6666666667vw , 33.125rem )) {
  form {
    width: clamp( 19.375rem , 6.0416666667rem  +  66.6666666667vw , 33.125rem );
  }
}

@supports not (width: clamp( 19.375rem , 6.0416666667rem  +  66.6666666667vw , 33.125rem )) {
  form {
    width: calc(19.375rem + 13.75 * (100vw - 20rem) / 20.625);
  }
}

._icon-Combined-Shape {
  font-size: 6.25rem;
}

.fullscreen {
  background: url("../img/2. Fullscreen/IMAGE.jpg") 50% 80%/cover no-repeat;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.fullscreen__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.fullscreen__logo {
  max-width: 16rem;
  max-height: 5.625rem;
  margin-bottom: 2.125rem;
}

.fullscreen__title {
  font-size: 3rem;
  line-height: 3.3125rem;
  margin-bottom: 2.125rem;
}

@supports (font-size: clamp( 1.75rem , 0.5378787879rem  +  6.0606060606vw , 3rem )) {
  .fullscreen__title {
    font-size: clamp( 1.75rem , 0.5378787879rem  +  6.0606060606vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 0.5378787879rem  +  6.0606060606vw , 3rem )) {
  .fullscreen__title {
    font-size: calc(1.75rem + 1.25 * (100vw - 20rem) / 20.625);
  }
}

@supports (line-height: clamp( 2.0625rem , 0.8503787879rem  +  6.0606060606vw , 3.3125rem )) {
  .fullscreen__title {
    line-height: clamp( 2.0625rem , 0.8503787879rem  +  6.0606060606vw , 3.3125rem );
  }
}

@supports not (line-height: clamp( 2.0625rem , 0.8503787879rem  +  6.0606060606vw , 3.3125rem )) {
  .fullscreen__title {
    line-height: calc(2.0625rem + 1.25 * (100vw - 20rem) / 20.625);
  }
}

.fullscreen__text {
  line-height: 1.25rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  margin-bottom: 2.125rem;
}

.fullscreen__scroll {
  -webkit-animation: scroll 2s ease 0s infinite alternate forwards;
          animation: scroll 2s ease 0s infinite alternate forwards;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(0, -1.25rem);
            transform: translate(0, -1.25rem);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(0, -1.25rem);
            transform: translate(0, -1.25rem);
  }
}

.paragraph {
  padding-top: 2.5625rem;
  background: #FAF8F0;
  padding-bottom: 6.25rem;
}

.paragraph__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  position: relative;
}

.paragraph__container::after {
  content: "";
  border-top: 0.5rem solid red;
  width: 2.5rem;
  display: block;
  position: absolute;
  top: 0;
  left: 48.6111111111%;
}

.paragraph__text {
  margin-top: 2.0625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22.5rem;
          flex: 0 1 22.5rem;
  line-height: 1.25rem;
  color: #333333;
}

.title {
  padding-top: 8.75rem;
}

.title__text {
  font-weight: 700;
  font-size: 6rem;
  line-height: 6rem;
  text-align: center;
  color: #52503B;
  position: relative;
  margin-bottom: 8.75rem;
}

.title__text::after {
  content: "";
  border-top: 0.5rem solid red;
  width: 2.5rem;
  display: block;
  position: absolute;
  top: -2rem;
  left: 48.6111111111%;
}

@supports (font-size: clamp( 3.125rem , 1.755952381rem  +  6.8452380952vw , 6rem )) {
  .title__text {
    font-size: clamp( 3.125rem , 1.755952381rem  +  6.8452380952vw , 6rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.755952381rem  +  6.8452380952vw , 6rem )) {
  .title__text {
    font-size: calc(3.125rem + 2.875 * (100vw - 20rem) / 42);
  }
}

@supports (line-height: clamp( 3.125rem , 1.755952381rem  +  6.8452380952vw , 6rem )) {
  .title__text {
    line-height: clamp( 3.125rem , 1.755952381rem  +  6.8452380952vw , 6rem );
  }
}

@supports not (line-height: clamp( 3.125rem , 1.755952381rem  +  6.8452380952vw , 6rem )) {
  .title__text {
    line-height: calc(3.125rem + 2.875 * (100vw - 20rem) / 42);
  }
}

.title__picture {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.sleeping {
  background: #FAF8F0;
  padding-top: 8.625rem;
  padding-bottom: 6.1875rem;
}

.sleeping__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sleeping__body {
  margin-bottom: 1.875rem;
}

.sleeping__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sleeping__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-block__title {
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
  margin-bottom: 0.875rem;
  position: relative;
}

.title-block__title::after {
  content: "";
  border-top: 0.5rem solid red;
  width: 2.5rem;
  display: block;
  position: absolute;
  top: -2rem;
  left: 45%;
}

.title-block__text {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  max-width: 34.625rem;
}

.item-sleeping__picture {
  margin-bottom: 0.75rem;
}

.item-sleeping__title {
  font-size: 1rem;
  line-height: 1.5rem;
}

.item-sleeping__text {
  line-height: 1.25rem;
  text-align: center;
}

.perfect-escape {
  padding-top: 8.625rem;
  padding-bottom: 6.8125rem;
}

.perfect-escape__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.875rem;
}

.perfect-escape__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.perfect-escape__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.375rem;
          flex: 0 1 34.375rem;
}

.perfect-escape__icon {
  width: 2.25rem;
  height: 2.25rem;
}

.title-block__title_after {
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
  margin-bottom: 0.875rem;
  position: relative;
}

.title-block__title_after::after {
  content: "";
  border-top: 0.5rem solid red;
  width: 2.5rem;
  display: block;
  position: absolute;
  top: -2rem;
  left: 0;
}

.title-block__text_start {
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 34.625rem;
  text-align: left;
}

.item-perfect-escape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.item-perfect-escape__text {
  line-height: 1.25rem;
  color: #333333;
}

.reviews {
  padding-top: 8.625rem;
  background: #FAF8F0;
  padding-bottom: 8.125rem;
}

.reviews__container {
  position: relative;
}

.reviews__body {
  margin-bottom: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__slider {
  margin-bottom: 2.5rem;
  margin-right: -36.5rem;
}

.reviews__slide {
  padding: 2.0625rem 2.9375rem 1.9375rem 1.9375rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.5rem;
          flex: 0 1 36.5rem;
  background: #fff;
  color: #333333;
  cursor: pointer;
}

.reviews__slide:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.title-block__title_before {
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
  margin-bottom: 0.875rem;
  position: relative;
}

.title-block__title_before::after {
  content: "";
  border-top: 0.5rem solid red;
  width: 2.5rem;
  display: block;
  position: absolute;
  top: -2rem;
  left: 41.6666666667%;
}

.slide-reviews__icon {
  margin-bottom: 0.625rem;
}

.slide-reviews__title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.6875rem;
}

.slide-reviews__text {
  line-height: 1.25rem;
  margin-bottom: 1.1875rem;
}

.slide-reviews__subscriber {
  line-height: 1.25rem;
}

.slide-reviews__subscriber::before {
  content: "";
  border-left: 0.125rem solid #E08631;
  height: 1.25rem;
  padding-left: 0.625rem;
}

.swiper-button-prev {
  width: 3.75rem;
  height: 3.75rem;
  border: 0.125rem solid #52503B;
  border-radius: 1.875rem;
  position: absolute;
  bottom: -6.25rem;
  right: 5rem;
}

.swiper-button-next {
  width: 3.75rem;
  height: 3.75rem;
  border: 0.125rem solid #52503B;
  border-radius: 1.875rem;
  position: absolute;
  bottom: -6.25rem;
  right: 0.625rem;
}

.come-together {
  padding-bottom: 7.875rem;
}

.come-together__image {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 6.25rem;
}

.come-together__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.come-together__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.come-together__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3.6875rem;
  -webkit-column-gap: 2.3125rem;
     -moz-column-gap: 2.3125rem;
          column-gap: 2.3125rem;
}

.come-together__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15.9375rem;
          flex: 0 1 15.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.come-together__picture {
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 1rem;
}

.come-together__text {
  line-height: 1.25rem;
}

.booking {
  padding-top: 8.625rem;
  background: #FAF8F0;
  padding-bottom: 6.25rem;
}

.booking__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.booking__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 33.3125rem;
  margin-bottom: 1.125rem;
}

.booking__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.booking__button {
  display: inline-block;
  padding: 0.9375rem 1.625rem;
  border: 0.25rem solid #52503B;
  border-radius: 0.375rem;
}

.booking__button:hover {
  background: #d6c954;
  color: #000;
  border: 0.25rem solid #d6c954;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.booking__btn {
  display: inline-block;
  padding: 1.1875rem 1.40625rem;
  background: #52503B;
  border-radius: 0.375rem;
  color: #fff;
}

.booking__btn:hover {
  background: #d6c954;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 70.625em) {
  .come-together__container {
    -webkit-column-gap: 62.5rem;
       -moz-column-gap: 62.5rem;
            column-gap: 62.5rem;
    row-gap: 3.125rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .come-together__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .come-together__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 61.99875em) {
  .footer__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__paragraph {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sleeping__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__button {
    padding: 0.9375rem 6.25rem;
  }

  .menu__body {
    position: fixed;
    top: 0rem;
    left: -100%;
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-top: 9.375rem;
    background: rgb(187, 181, 133);
    z-index: 2;
  }

  .menu__body::before {
    content: "";
    background: #52503B;
    position: fixed;
    top: 0rem;
    left: -100%;
    height: 5rem;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.5rem;
  }

  .menu__link {
    font-size: 2.5rem;
    color: #000;
  }

  .footer__text {
    text-align: center;
  }

  .paragraph__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .reviews__slider {
    margin-right: 0rem;
  }

  .reviews__slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 34.375em) {
  .footer__header {
    -webkit-column-gap: 18.75rem;
       -moz-column-gap: 18.75rem;
            column-gap: 18.75rem;
    row-gap: 0.625rem;
  }

  .spollers-footer__title {
    text-align: center;
  }

  .menu-footer__item {
    text-align: center;
  }
}

@media (max-width: 29.99875em) {
  .paragraph__container::after {
    left: 45%;
  }

  .title__text::after {
    left: 45%;
  }
}