@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #323232;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}

.header {
  padding: 35px 0px 33px 0px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  z-index: 2;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 42px;
}

.menu__item:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #F78434;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 91px;
  padding-bottom: 82px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 30px;
}

.footer__paragraph {
  max-width: 300px;
}

.footer__label {
  padding-top: 15px;
  padding-bottom: 40px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 85px;
}

@supports (gap: clamp(1.875rem, -16.4583333333rem + 36.6666666667vw, 5.3125rem)) {
  .footer__items {
    gap: clamp(1.875rem, -16.4583333333rem + 36.6666666667vw, 5.3125rem);
  }
}

@supports not (gap: clamp(1.875rem, -16.4583333333rem + 36.6666666667vw, 5.3125rem)) {
  .footer__items {
    gap: calc(1.875rem + 3.4375 * (100vw - 50rem) / 9.375);
  }
}

.footer__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.5px;
  padding-bottom: 18px;
}

.footer__text {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.5px;
  padding-bottom: 13px;
}

.section-one {
  padding-top: 127px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.no-webp .section-one__container {
  background: url("../img/1. Section-one/bilding.jpg") top right no-repeat;
}

.section-one__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 79px;
  letter-spacing: 0.8px;
  color: #323232;
  padding-bottom: 25px;
  max-width: 674px;
}

@supports (font-size: clamp(2.5rem, 1.7631578947rem + 3.6842105263vw, 3.375rem)) {
  .section-one__title {
    font-size: clamp(2.5rem, 1.7631578947rem + 3.6842105263vw, 3.375rem);
  }
}

@supports not (font-size: clamp(2.5rem, 1.7631578947rem + 3.6842105263vw, 3.375rem)) {
  .section-one__title {
    font-size: calc(2.5rem + 0.875 * (100vw - 20rem) / 23.75);
  }
}

@supports (line-height: clamp(2.75rem, 0.9078947368rem + 9.2105263158vw, 4.9375rem)) {
  .section-one__title {
    line-height: clamp(2.75rem, 0.9078947368rem + 9.2105263158vw, 4.9375rem);
  }
}

@supports not (line-height: clamp(2.75rem, 0.9078947368rem + 9.2105263158vw, 4.9375rem)) {
  .section-one__title {
    line-height: calc(2.75rem + 2.1875 * (100vw - 20rem) / 23.75);
  }
}

.section-one__text {
  padding-bottom: 42px;
  max-width: 467px;
}

.section-one__item {
  padding-bottom: 133px;
}

.section-one__form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 459px;
  overflow: hidden;
}

.section-one__input {
  width: 100%;
  color: #BBBBBB;
  -webkit-box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
  border-radius: 29px;
  padding: 18px 0px 16px 72px;
  background: url("../img/1. Section-one/mail.svg") 6.1% 50% no-repeat #fff;
}

.section-one__button {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 18px 37px 16px 37px;
  background: #F78434;
  border-radius: 29px;
}

.section-one__button:hover {
  background: #fda128;
}

.section-two {
  padding-top: 100px;
  line-height: 27px;
  letter-spacing: 1.15px;
}

.section-two__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 100px;
}

.section-two__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 180px;
}

@supports (gap: clamp(6.25rem, -6.6532258065rem + 25.8064516129vw, 11.25rem)) {
  .section-two__body {
    gap: clamp(6.25rem, -6.6532258065rem + 25.8064516129vw, 11.25rem);
  }
}

@supports not (gap: clamp(6.25rem, -6.6532258065rem + 25.8064516129vw, 11.25rem)) {
  .section-two__body {
    gap: calc(6.25rem + 5 * (100vw - 50rem) / 19.375);
  }
}

.section-two__picture {
  min-width: 0px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 385px;
  flex: 1 1 385px;
  position: relative;
}

.section-two__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 374px;
  flex: 0 1 374px;
}

.section-two__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  padding-bottom: 20px;
}

@supports (font-size: clamp(1.875rem, -0.225rem + 4.8vw, 2.625rem)) {
  .section-two__title {
    font-size: clamp(1.875rem, -0.225rem + 4.8vw, 2.625rem);
  }
}

@supports not (font-size: clamp(1.875rem, -0.225rem + 4.8vw, 2.625rem)) {
  .section-two__title {
    font-size: calc(1.875rem + 0.75 * (100vw - 43.75rem) / 15.625);
  }
}

@supports (line-height: clamp(2.125rem, -2.775rem + 11.2vw, 3.875rem)) {
  .section-two__title {
    line-height: clamp(2.125rem, -2.775rem + 11.2vw, 3.875rem);
  }
}

@supports not (line-height: clamp(2.125rem, -2.775rem + 11.2vw, 3.875rem)) {
  .section-two__title {
    line-height: calc(2.125rem + 1.75 * (100vw - 43.75rem) / 15.625);
  }
}

.section-two__text {
  padding-bottom: 20px;
}

.section-two__text:last-of-type {
  padding-bottom: 58px;
}

.section-two__button {
  max-width: 172px;
}

.box {
  max-width: 300px;
  position: absolute;
  bottom: 15.81%;
  right: -9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 32px 29px;
  gap: 20px;
  background: #fff;
  z-index: 2;
}

.box__title {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.swiper.swiper {
  overflow: visible;
}

.swiper-slide__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 18px 39px 16px 39px;
  background: #F78434;
  border-radius: 29px;
  color: #fff;
  letter-spacing: 0px;
}

.btn:hover {
  background: #fda128;
}

.no-webp .using-star {
  background: url("../img/2. Section-two/Bg.png") 0 0/cover no-repeat;
}

.using-star {
  padding: 92px 0px 91px 0px;
  position: relative;
  bottom: -232px;
}

.using-star__container_small {
  max-width: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.using-star__body {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 364px;
  flex: 0 1 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.using-star__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  padding-bottom: 15px;
}

@supports (font-size: clamp(1.75rem, -1.05rem + 14vw, 2.625rem)) {
  .using-star__title {
    font-size: clamp(1.75rem, -1.05rem + 14vw, 2.625rem);
  }
}

@supports not (font-size: clamp(1.75rem, -1.05rem + 14vw, 2.625rem)) {
  .using-star__title {
    font-size: calc(1.75rem + 0.875 * (100vw - 20rem) / 6.25);
  }
}

@supports (line-height: clamp(2.125rem, -3.475rem + 28vw, 3.875rem)) {
  .using-star__title {
    line-height: clamp(2.125rem, -3.475rem + 28vw, 3.875rem);
  }
}

@supports not (line-height: clamp(2.125rem, -3.475rem + 28vw, 3.875rem)) {
  .using-star__title {
    line-height: calc(2.125rem + 1.75 * (100vw - 20rem) / 6.25);
  }
}

.using-star__text {
  color: #FFFFFF;
  padding-bottom: 30px;
}

.using-star__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.using-star__button:hover {
  background: #fff;
  color: #000;
}

.using-star__button_white {
  padding: 18px 29px 16px 50px;
  background: #fff;
  color: #000;
  position: relative;
}

.using-star__button_white::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../img/2. Section-two/Icon play.svg") no-repeat;
  position: absolute;
  top: 41%;
  left: 30px;
}

.using-star__button_white:hover {
  background: #F78434;
  color: #fff;
}

.section-three {
  padding-top: 194px;
  background: #F5F6FA;
}

.section-three__body {
  text-align: center;
  position: relative;
  bottom: -183px;
}

.section-three__paragraph {
  padding-bottom: 45px;
}

.section-three__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
}

.section-three__text {
  line-height: 27px;
  letter-spacing: 1.15px;
}

.section-three__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.item-buyers {
  padding: 40px 88px 39px 88px;
  background: #F78434;
  -webkit-box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-buyers__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.item-buyers__card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item-buyers__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}

.item-buyers__text {
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #FFFFFF;
  padding-bottom: 43px;
}

.item-buyers__button {
  background: #fff;
  color: #F78434;
}

.item-buyers__button:hover {
  background: rgb(226, 225, 225);
}

.item-seller {
  padding: 40px 88px 39px 88px;
  background: #fff;
  -webkit-box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  max-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-seller__icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.item-seller__card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.item-seller__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0.8px;
}

.item-seller__text {
  line-height: 27px;
  letter-spacing: 1.15px;
  padding-bottom: 43px;
}

.section-four {
  padding-top: 295px;
}

.section-four__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-four__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  padding-bottom: 58px;
  text-align: center;
}

.items-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  padding-bottom: 111px;
}

.items-four__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.items-four__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 15px;
}

.items-four__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.5px;
  padding-bottom: 2px;
}

.items-four__text {
  line-height: 27px;
  letter-spacing: 1.15px;
  text-align: center;
}

.section-thanks {
  padding-top: 59px;
  padding-bottom: 58px;
}

.section-thanks__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 58px;
}

.section-thanks__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
}

.section-thanks__text {
  line-height: 27px;
  letter-spacing: 1.15px;
}

.items-thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: relative;
}

.no-webp .items-thanks::before {
  background: url("../img/5. Section-thenks/Design element.png") no-repeat;
}

.items-thanks::before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.items-thanks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 350px;
  border-radius: 0px 0px 5px 5px;
  color: #58BEBF;
  height: 100%;
}

.items-thanks__item:hover {
  -webkit-box-shadow: 0px 7px 16px 3px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 7px 16px 3px rgba(0, 0, 0, 0.17);
  color: #F78434;
}

.items-thanks__image {
  max-width: 100%;
}

.items-thanks__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 31px 29px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.items-thanks__text {
  line-height: 27px;
  letter-spacing: 1.15px;
  padding-bottom: 23px;
  color: #323232;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.items-thanks__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.6px;
  color: #323232;
}

.items-thanks__sub-title {
  line-height: 27px;
  letter-spacing: 1.15px;
}

.play {
  position: relative;
}

.no-webp .play::before {
  background: url("../img/5. Section-thenks/Play btn.png") no-repeat;
}

.play::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 134px;
  right: 20px;
}

.no-webp .section-experience {
  background: url("../img/6. Section-experience/girl.png") 70% 0px no-repeat, url("../img/6. Section-experience/Bg.png") 85% 0/cover no-repeat;
}

.section-experience {
  padding-top: 211px;
}

.section-experience__body {
  max-width: 359px;
  padding-bottom: 55px;
}

.section-experience__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  padding-bottom: 15px;
}

@supports (font-size: clamp(2.125rem, 0.125rem + 10vw, 2.625rem)) {
  .section-experience__title {
    font-size: clamp(2.125rem, 0.125rem + 10vw, 2.625rem);
  }
}

@supports not (font-size: clamp(2.125rem, 0.125rem + 10vw, 2.625rem)) {
  .section-experience__title {
    font-size: calc(2.125rem + 0.5 * (100vw - 20rem) / 5);
  }
}

.section-experience__text {
  line-height: 27px;
  letter-spacing: 1.15px;
  color: #FFFFFF;
  padding-bottom: 48px;
}

.section-experience__button {
  background: #fff;
  color: #323232;
}

.popup__text {
  text-align: center;
}

.popup__close {
  font-weight: 700;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 50em) {
  .section-thanks__paragraph {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .items-thanks {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .items-thanks::before {
    display: none;
  }
}

@media (max-width: 67.8125em) {
  .items-four {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

@media (max-width: 65.3125em) {
  .play::before {
    display: none;
  }
}

@media (max-width: 60.625em) {
  .using-star__body {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.7);
  }

  .section-experience__body {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.7);
  }
}

@media (max-width: 56.25em) {
  .section-one__input {
    border: 1px solid #ccc;
  }
}

@media (max-width: 56.875em) {
  .section-two__logo {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
}

@media (max-width: 51.25em) {
  .footer__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 50px;
  }

  .footer__paragraph {
    text-align: center;
  }

  .footer__socials {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__items {
    gap: 85px;
  }

  @supports (gap: clamp(3.125rem, -3.4375rem + 17.5vw, 5.3125rem)) {
    .footer__items {
      gap: clamp(3.125rem, -3.4375rem + 17.5vw, 5.3125rem);
    }
  }

  @supports not (gap: clamp(3.125rem, -3.4375rem + 17.5vw, 5.3125rem)) {
    .footer__items {
      gap: calc(3.125rem + 2.1875 * (100vw - 37.5rem) / 12.5);
    }
  }
}

@media (max-width: 51.875em) {
  .box {
    bottom: -10%;
    right: 0%;
    border: 1px solid #ccc;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    padding-top: 150px;
    background: rgb(248, 248, 248);
  }

  .menu__body::before {
    content: "";
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    background: rgb(236, 234, 234);
    left: -100%;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    content: "";
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu__item {
    font-size: 30px;
    line-height: 33px;
  }

  .menu__item:hover {
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #F78434;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

@media (max-width: 44.6875em) {
  .section-three__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 43.75em) {
  .section-two__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .box {
    bottom: 5%;
  }
}

@media (max-width: 34.375em) {
  .footer__items {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 31.25em) {
  .section-one__form {
    position: static;
    gap: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section-one__input {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .section-one__button {
    position: static;
  }
}

@media (max-width: 26.25em) {
  .using-star__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.webp .section-one__container {
  background: url("../img/1. Section-one/bilding.jpg") top right no-repeat;
}

.webp .using-star {
  background: url("../img/2. Section-two/Bg.png") 0 0/cover no-repeat;
}

.webp .items-thanks::before {
  background: url("../img/5. Section-thenks/Design element.png") no-repeat;
}

.webp .play::before {
  background: url("../img/5. Section-thenks/Play btn.png") no-repeat;
}

.webp .section-experience {
  background: url("../img/6. Section-experience/girl.png") 70% 0px no-repeat, url("../img/6. Section-experience/Bg.png") 85% 0/cover no-repeat;
}

@media (max-width: 22.1875em) {
  .footer__items {
    -webkit-column-gap: 200px;
    -moz-column-gap: 200px;
    column-gap: 200px;
  }

  .footer__text {
    display: none;
  }

  .close::after {
    content: "";
    border: 15px solid transparent;
    border-top-color: #F78434;
    border-bottom: 0;
    position: relative;
    top: 24px;
    cursor: pointer;
  }

  .open::after {
    content: "";
    border: 15px solid transparent;
    border-bottom-color: #F78434;
    border-top: 0;
    position: relative;
    top: -21px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.active {
  display: block;
}