@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500&display=swap);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  position: relative;
  margin: 0rem 0.9375rem;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  border-bottom: 1px solid #fff;
  background-color: #282828;
  cursor: pointer;
  width: 100%;
  margin-bottom: 2.5rem;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #fff;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #282828;
  border-top: 0;
  border: 1px solid #fff;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #282828;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.no-webp .header{
  background: url("../img/Header/bg.jpg") center/cover no-repeat; }

.header {
  min-height: 100vh;
  padding-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.top-level-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.top-level-header__link {
  font-size: 0.8125rem;
  font-weight: 500;
}

.top-level-header__link:hover {
  color: rgb(224, 193, 134);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu::before,
.menu::after {
  content: "";
  width: 100%;
  display: block;
}

.menu::before {
  border-top: 0.0625rem solid #FFFFFF;
}

.menu::after {
  border-bottom: 0.0625rem solid #FFFFFF;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1.25rem;
}

.menu__item {
  padding: 0.8125rem 0rem;
  position: relative;
}

.menu__item:not(:last-child)::after {
  content: "";
  height: 100%;
  border-right: 0.0625rem solid #fff;
  position: absolute;
  top: 0rem;
  right: -6.875rem;
}

.menu__link:hover {
  color: rgb(224, 193, 134);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer {
  background: #998431;
  padding: 3.125rem 0rem;
}

.footer__top {
  margin-bottom: 1.25rem;
}

.footer__top::before {
  content: "";
  border-top: 0.0625rem solid #fff;
  width: 100%;
  display: block;
  padding-bottom: 1.25rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.footer__link:hover {
  color: rgb(71, 65, 26);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.down-footer {
  text-transform: uppercase;
}

.down-footer::before,
.down-footer::after {
  content: "";
  width: 100%;
  display: block;
}

.down-footer::before {
  border-top: 0.0625rem solid #fff;
}

.down-footer::after {
  border-bottom: 0.0625rem solid #fff;
}

.down-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.down-footer__item {
  position: relative;
  padding: 1.25rem 0rem;
}

.down-footer__item:not(:last-child)::after {
  content: "";
  border-right: 0.0625rem solid #fff;
  height: 100%;
  position: absolute;
  top: 0;
  right: -3.75rem;
}

.down-footer__link:hover {
  color: rgb(71, 65, 26);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.down-footer__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.1875rem;
}

.about-us {
  padding: 6.25rem 0rem;
  background: #282828;
}

.about-us__body {
  padding: 3.75rem 0.9375rem;
  border: 0.1875rem solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__title {
  margin-bottom: 5rem;
  text-align: center;
  max-width: 46rem;
}

.about-us__title::after {
  content: "";
  border-bottom: 0.0625rem solid #fff;
  width: 10rem;
  display: block;
  position: relative;
  bottom: -2.5rem;
  left: 18.125rem;
}

.about-us__text {
  font-size: 1rem;
  max-width: 46rem;
  text-align: center;
  margin-bottom: 3.125rem;
  line-height: 150%;
}

.about-us__picture {
  max-width: 100%;
}

.title {
  font-family: "Playfair Display";
  font-size: 2.25rem;
}

.collection {
  background: #E6E3C4;
  color: #282828;
  padding: 8.75rem 0rem;
}

.collection__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  gap: 1.875rem;
}

.collection__container::before,
.collection__container::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
}

.collection__container::before {
  border-top: 0.0625rem solid #998431;
  top: -3.75rem;
}

.collection__container::after {
  border-bottom: 0.0625rem solid #998431;
  bottom: -3.75rem;
}

.collection__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.collection__subtitle {
  font-size: 1rem;
  margin-bottom: 1.875rem;
}

.collection__title {
  max-width: 18.75rem;
  margin-bottom: 1.875rem;
}

.collection__title::after {
  content: "";
  border-bottom: 0.0625rem solid #282828;
  width: 10rem;
  display: block;
  padding-top: 1.875rem;
}

.collection__text {
  margin-bottom: 1.875rem;
  line-height: 150%;
}

.collection__button {
  display: inline-block;
  padding: 0.9375rem 1.875rem;
  background: #998431;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.collection__button:hover {
  background: #534819;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.collection__photoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.collection__imge {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.collection__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.item-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.375rem;
  position: relative;
  padding: 0.9375rem 0rem;
}

.item-collection_noborder {
  margin-bottom: 1.875rem;
}

.item-collection_noborder::after {
  display: none;
}

.item-collection::after {
  content: "";
  border-bottom: 0.0625rem solid #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.item-collection__left {
  padding-left: 0.9375rem;
}

.item-collection__left::after {
  content: "";
  border-right: 0.0625rem solid #000;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 4.6875rem;
}

.item-collection__right {
  padding-left: 0.9375rem;
}

.item-collection__title {
  font-family: "Playfair Display";
  font-size: 1.125rem;
  margin-bottom: 0.3125rem;
  line-height: 150%;
}

.record {
  background: #282828;
  padding: 6.25rem 0rem;
}

.record__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1875rem solid #fff;
  padding: 6.25rem 0rem;
  position: relative;
}

.record__title {
  margin-bottom: 5rem;
  text-align: center;
}

.record__title::after {
  content: "";
  border-bottom: 0.0625rem solid #fff;
  width: 10rem;
  display: block;
  position: relative;
  bottom: -2.5rem;
  left: 7.5rem;
}

.record__text {
  font-size: 1rem;
  line-height: 150%;
  max-width: 33.6875rem;
  text-align: center;
  margin-bottom: 5rem;
}

.record__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
}

.record__input {
  background: #282828;
  border-bottom: 0.0625rem solid #fff;
  max-width: 15.9375rem;
  color: #fff;
  margin: 0rem 0.9375rem;
}

.record__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.record__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.0625rem solid #fff;
  padding: 0.9375rem 0rem;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0rem 0.9375rem;
}

.record__button:hover {
  background: #fff;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 68.75em) {
  .menu__item:not(:last-child)::after {
    display: none;
  }

  .down-footer__item:not(:last-child)::after {
    display: none;
  }
}

@media (max-width: 61.99875em) {
  .collection__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .collection__items {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .collection__photoblock {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .collection__imge {
    max-width: 100%;
  }
}

@media (max-width: 49.9375em) {
  .about-us__title::after {
    display: none;
  }

  .record__title::after {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu::before,
  .menu::after {
    display: none;
  }

  .menu__body {
    position: fixed;
    top: 0rem;
    left: -100%;
    background: rgb(61, 61, 61);
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    background: rgb(110, 25, 25);
    width: 100%;
    height: 7.5rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 9.375rem;
    font-size: 1.875rem;
  }

  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .down-footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 0rem;
  }

  .collection__block {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .record__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .record__input {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 100%;
  }
}

@media (max-width: 20.625em) {
  .top-level-header__link {
    font-size: 0.75rem;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #282828;
  }
}

.webp .header{ background: url(../img/Header/bg.webp) center/cover no-repeat; }