@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Nunito:800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #212121;
  line-height: 1;
  font-family: "Manrope";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  padding: 1.5625rem 0rem;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.9375rem;
}

.main__logo {
  z-index: 3;
}

.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__btn {
  padding: 0.8125rem 2.8125rem;
}

.logo-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-main__link {
  margin-bottom: 0.125rem;
}

.logo-main__name {
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.25rem;
}

.logo-main__name_blue {
  color: #1E7CCF;
}

.logo-main__text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #626262;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.9375rem;
}

.menu__link {
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #1E7CCF;
  text-decoration: underline;
}

.button {
  color: #fff;
  background: #1E7CCF;
  border-radius: 15.625rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

.button:hover {
  background: #1865a8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.language__list {
  position: relative;
}

.language__list > li:hover .language__sublist {
  display: block;
  padding: 0.9375rem 1.25rem 0.9375rem 0.625rem;
  background: #fff;
  position: absolute;
  left: -0.625rem;
}

.language__link {
  position: relative;
  padding-right: 1.0625rem;
}

.language__link::before {
  content: "";
  background: url("../img/header/arrow.svg") no-repeat;
  width: 0.625rem;
  height: 0.3125rem;
  position: absolute;
  top: 0.4375rem;
  right: 0rem;
}

.language__link:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #1E7CCF;
}

.language__sublist {
  display: none;
}

.language__subitem:not(:last-child) {
  padding-bottom: 0.9375rem;
}

.language__sublink:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #1E7CCF;
}

.footer {
  padding: 2.75rem 0rem 2.75rem 0rem;
}

.page {
  line-height: 24px;
}

.mainpage {
  padding: 4.1875rem 0rem 4.125rem;
  background: #F2F7FD;
}

.mainpage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.mainpage__title {
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 3.4375rem;
  margin-bottom: 1.3125rem;
}

.mainpage__text {
  font-size: 1rem;
  margin-bottom: 1.9375rem;
  max-width: 33.25rem;
}

.mainpage__btn {
  padding: 0.8125rem 2.375rem;
  display: inline-block;
}

.mainpage__picture {
  max-width: 100%;
}

.skills {
  padding: 3.625rem 0rem 5rem;
}

.skills__title {
  margin-bottom: 0.75rem;
}

.skills__text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 2.25rem;
}

.skills__text_blue {
  color: #1E7CCF;
}

.title {
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 3.125rem;
}

.body-skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1.8125rem;
}

.body-skills__skill {
  padding: 2.0625rem 1.6875rem 1.8125rem;
  background: #EEF1F4;
  border-radius: 1.25rem;
}

.body-skills__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1875rem;
  margin-bottom: 1.125rem;
}

.body-skills__text {
  font-size: 1rem;
  max-width: 30.625rem;
}

.clients {
  padding: 3.6875rem 0rem 0.625rem;
  background: #1E7CCF;
  color: #fff;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.clients__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.clients__photoblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.clients__title {
  margin-bottom: 0.9375rem;
}

.clients__subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.4375rem;
  max-width: 25.0625rem;
}

.clients__text {
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  padding-left: 2.25rem;
}

.clients__text:not(:last-child) {
  margin-bottom: 1rem;
}

.clients__text::before {
  content: "";
  width: 1.6875rem;
  height: 1.6875rem;
  background: url("../img/clients/check.svg") no-repeat;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.clients__google {
  border-radius: 0.9375rem;
  position: relative;
  z-index: 0;
  max-width: 100%;
}

.clients__program {
  position: relative;
  top: -5rem;
  right: -4.5625rem;
  border-radius: 0.9375rem;
  z-index: 1;
  max-width: 100%;
}

.title_white {
  color: #fff;
}

.communication {
  padding: 0.625rem 0rem 3.75rem;
}

.communication__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.communication__photoblock {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.communication__google {
  border-radius: 0.9375rem;
  position: relative;
  bottom: -5rem;
  left: -3.9375rem;
  z-index: 0;
  max-width: 100%;
}

.communication__program {
  position: relative;
  border-radius: 0.9375rem;
  z-index: 1;
  max-width: 100%;
}

.communication__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.communication__title {
  margin-bottom: 0.9375rem;
}

.communication__subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.4375rem;
  max-width: 25.0625rem;
}

.communication__text {
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  padding-left: 2.25rem;
}

.communication__text:not(:last-child) {
  margin-bottom: 1rem;
}

.communication__text::before {
  content: "";
  width: 1.6875rem;
  height: 1.6875rem;
  background: url("../img/communication/check.svg") no-repeat;
  position: absolute;
  top: 0rem;
  left: 0rem;
}

.social {
  background: #F2F7FD;
}

.common {
  padding: 3.75rem 0rem 4.5rem;
}

.common__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.common__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.common__title {
  margin-bottom: 1.5rem;
}

.common__text {
  font-weight: 500;
  font-size: 1rem;
}

.common__text:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.common__picture {
  max-width: 100%;
}

.mcbook-dog {
  padding: 4.125rem 0rem 0.625rem;
}

.mcbook__container_wide {
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.mcbook__container_wide::before {
  content: "";
  width: 1.9375rem;
  height: 2.25rem;
  background: url("../img/mcbook_dog/arrow.svg") no-repeat;
  position: absolute;
  top: 36.4583333333%;
  left: 49.21875%;
  z-index: 50;
}

.mcbook__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.mcbook__picture-ibg {
  padding-bottom: 66.31%;
}

.mcbook-cat {
  padding: 4.875rem 0rem 0.625rem;
  background: #F2F7FD;
}

.common__text_blue {
  color: #1E7CCF;
}

.functional {
  background: #F2F7FD;
}

.body-skills__skill_white {
  background: #fff;
}

.body-skills__skill_last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-skills__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.1875rem;
  margin-bottom: 1.125rem;
}

.body-skills__picture {
  margin-top: 1.25rem;
}

.body-skills__title {
  font-weight: 800;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #1E7CCF;
}

.body-skills__btn {
  margin-top: 2rem;
  padding: 0.8125rem 2.375rem;
  display: inline-block;
}

.why-are-we {
  padding: 3.25rem 0rem 3.75rem;
}

.why-are-we__title {
  margin-bottom: 2rem;
}

.why-are-we__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.why-are-we__items {
  border: 0.0625rem solid #CED7E2;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-are-we__photoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-why-are-we {
  padding: 1.5625rem 1.5625rem 1.5625rem 1.9375rem;
}

.item-why-are-we__title {
  font-weight: 800;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #1E7CCF;
  margin-bottom: 0.4375rem;
}

.item-why-are-we__text {
  font-size: 1rem;
}

.new {
  padding: 2.375rem 0rem 3.8125rem;
  background: #F2F7FD;
}

.new__title {
  margin-bottom: 2.0625rem;
}

.new__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(289px, 0px) (1fr)[6];
  grid-template-columns: minmax(289px, 0px) repeat(6, 1fr);
  -ms-grid-rows: (1fr)[25];
  grid-template-rows: repeat(25, 1fr);
  overflow: auto;
  margin-bottom: 2.375rem;
}

.new__column {
  border: 1px solid #CED7E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.0625rem;
  padding: 0.3125rem 0.3125rem 0.3125rem 1.0625rem;
}

.new__column_bg {
  background: #1E7CCF;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.875rem 2.5rem 0.875rem 1.0625rem;
}

.new__column_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  padding: 0.3125rem;
}

.new__column_minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  padding: 0.3125rem;
}

.new__column_main {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.new__column_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.new__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.3125rem;
  line-height: 20px;
}

.new__table_red {
  color: #EB5757;
}

.new__plus {
  width: 2.25rem;
  height: 2.25rem;
  background: #27AE60;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__minus {
  width: 2.25rem;
  height: 2.25rem;
  background: #EB5757;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__price {
  font-weight: 800;
  font-size: 18px;
}

.new__row {
  background: #F8FBFF;
}

.new__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.new__btn {
  padding: 0.8125rem 2.375rem;
}

.new .button_border {
  border: 0.0625rem solid #1E7CCF;
  background: #fff;
  color: #1E7CCF;
}

.awards {
  padding: 3.75rem 0rem;
}

.awards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awards__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.awards__icon {
  margin-bottom: 1.1875rem;
}

.awards__title {
  font-weight: 800;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #1E7CCF;
}

.awards__text {
  font-size: 1rem;
}

.awards__body {
  text-align: center;
}

.reviews {
  background: #F2F7FD;
  padding: 2.5rem 0rem 4.25rem;
}

.reviews__container_wide {
  max-width: 73.125rem;
  position: relative;
  padding: 0rem 5.625rem;
}

.reviews__title {
  margin-bottom: 2.0625rem;
}

.reviews__slider {
  max-width: 73.125rem;
  margin: 0 auto;
}

.reviews__wrapper {
  margin-bottom: 1.25rem;
}

.reviews__icon {
  width: 1rem;
  height: 0.9375rem;
}

.reviews__arrow {
  width: 3.375rem;
  height: 3.375rem;
  background: #FFFFFF;
  border: 0.0625rem solid #CED7E2;
  border-radius: 50%;
}

.reviews__arrow_prev {
  position: absolute;
  bottom: 39.0625%;
  left: 0rem;
  margin-left: 0.625rem;
}

.reviews__arrow_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  bottom: 39.0625%;
  right: 0rem;
  margin-right: 0.625rem;
}

.slide-reviews {
  background: #FFFFFF;
  border: 1px solid #CED7E2;
  border-radius: 1.25rem;
  padding: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-reviews__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  margin-bottom: 0.625rem;
}

.slide-reviews__name {
  font-size: 1rem;
  color: #545454;
}

.slide-reviews__company {
  font-size: 1rem;
  font-weight: 700;
}

.slide-reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-reviews__text {
  font-size: 1rem;
  color: #545454;
  margin-bottom: 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slide-reviews__data {
  color: #545454;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    background: #fff;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
    overflow: auto;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    background: rgb(241, 241, 241);
    width: 100%;
    height: 10rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12.5rem 0rem 1.25rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .mainpage__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .clients__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .clients__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .clients__photoblock {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .communication__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .communication__photoblock {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .communication__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .common__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .common__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .mcbook__container_wide::before {
    display: none;
  }

  .mcbook__container_wide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .mcbook__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 37.5rem;
            flex: 1 1 37.5rem;
  }
}

@media (max-width: 47.99875em) {
  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .body-skills {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .why-are-we__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.9375rem;
  }

  .why-are-we__image {
    max-width: 100%;
    border-radius: 6.25rem;
  }

  .awards__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .reviews__container_wide {
    padding: 0rem 0.9375rem;
  }

  .reviews__arrow_prev {
    bottom: -2.1875rem;
    margin-left: 0.9375rem;
  }

  .reviews__arrow_next {
    bottom: -2.1875rem;
    margin-right: 0.9375rem;
  }
}

@media (max-width: 29.99875em) {
@supports (font-size: clamp( 2rem , -0.2502812852rem  +  11.2514064258vw , 3.125rem )) {
    .mainpage__title {
      font-size: clamp( 2rem , -0.2502812852rem  +  11.2514064258vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2rem , -0.2502812852rem  +  11.2514064258vw , 3.125rem )) {
    .mainpage__title {
      font-size: calc(2rem + 1.125 * (100vw - 20rem) / 9.99875);
    }
}

@supports ( line-height: clamp( 2.8125rem , 1.5623437305rem  +  6.2507813477vw , 3.4375rem )) {
    .mainpage__title {
      line-height: clamp( 2.8125rem , 1.5623437305rem  +  6.2507813477vw , 3.4375rem );
    }
}

@supports not ( line-height: clamp( 2.8125rem , 1.5623437305rem  +  6.2507813477vw , 3.4375rem )) {
    .mainpage__title {
      line-height: calc(2.8125rem + 0.625 * (100vw - 20rem) / 9.99875);
    }
}
}

@media (max-width: 29.99875em) and (min-width: 29.99875em) {
  .mainpage__title {
    font-size: inherit;
  }

  .mainpage__title {
    line-height: inherit;
  }
}